
{include file="./common/hearder" /}

<body class="bg_index ">

{include file="./common/topmenu" /}


{include file="./common/Bread" /}

<div class="Rmt-blogPage Rmt-byPage" style="display: block;">
    <!-- func start -->
    <div class="Rmt-blogFunc">
        <div class="r317uncWrap">
            <div class="r317-lock r317-lock-first">
                <a href="" target="_blank" class="f-a">
                    <div class="Rmt-funcIcon Rmt-funcIcon-prod"></div><h3 class="r317uncTitle">产品介绍</h3>
                </a>
            </div>
            <div class="r317-lock">
                <a href="" target="_blank" class="f-a">
                    <div class="Rmt-funcIcon Rmt-funcIcon-feature"></div><h3 class="r317uncTitle">功能特色</h3>
                </a>
            </div>
            <div class="r317-lock">
                <a href="" target="_blank" class="f-a">
                    <div class="Rmt-funcIcon  Rmt-funcIcon-domain"></div><h3 class="r317uncTitle">域名使用</h3>
                </a>
            </div>
            <div class="r317-lock">
                <a href="" target="_blank" class="f-a">
                    <div class="Rmt-funcIcon  Rmt-funcIcon-mobi"></div><h3 class="r317uncTitle">手机网站</h3>
                </a>
            </div>
            <div class="r317-lock">
                <a href="" target="_blank" class="f-a">
                    <div class="Rmt-funcIcon Rmt-funcIcon-update"></div><h3 class="r317uncTitle">功能更新</h3>
                </a>
            </div>
            <div class="r317-lock r317-lock-last">
                <a href="" target="_blank" class="f-a" rel="nofollow">
                    <div class="Rmt-funcIcon Rmt-funcIcon-siteCheck"></div><h3 class="r317uncTitle">网站检测</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="Rmt-topw">
        <dl class="Rmt-topwWrap">
            <dt class="R-mTitle"><h3>常见问题</h3></dt>

            {RmTop:ArticleList cid="3"  limit ="10"  orderBy = "'title asc'"  name="vo" }
            <dd class="R-mItem">
                <div class="R-mContentWrap">
                    <h3 class="R-mContent-title">新手指引<a target="_blank" href="">更多&gt;</a></h3>
                    <ul class="R-mContent-descList">
                        <li class="R-mContent-d"><span class="f-dot"></span><a target="_blank" title="{$vo.seo_des}" href="{$vo.url}">{$vo.title}</a></li>
                    </ul>
                </div>
            </dd>
            {/RmTop:ArticleList}

            <div class="clearfix"></div>

        </dl>
    </div>
    <!-- func end -->
</div>


{include file="./common/footer" /}

</body>
</html>
