
{include file="./common/hearder" /}

<body class="bg_index ">

{include file="./common/topmenu" /}



<div class="RMw-bage RMw-bage-listPage" style="display: block;padding-top: 40px;background: #fff;padding-bottom: 50px;">
    <div class="upg-content-box">
        <h4 class="title">{$TopData.title}</h4>
        <div class="info"><span>{$TopData.create_time}</span>  <span class="clicks-box">{$TopData.views}</span></div>
        <div class="content">
            <p>
                {$TopData.content|raw}
            </p>
        </div>
    </div>
</div>

{include file="./common/footer" /}


</body>
</html>





