

{include file="./common/hearder" /}

<body class="bg_index ">

{include file="./common/topmenu" /}

{include file="./common/Bread" /}



<div class="RMw-bage RMw-bage-listPage" style="display: block;padding-top: 40px;padding-bottom: 50px;background: #fff">
    <div class="r-tWrap">
        <div class="Rlt">
            <div class="RltArticle" style="display: block;">
                <ul class="RltList">

                    {volist name="TopData" id="vo"}
                    <li class="RltItem ">
                        <div class="RltItem-ctnWrap">
                            <h3 class="RltItem-title">
                                <a class="f-link" href="{$vo.url}" target="_blank"><span class="Qxua"> 》 </span>{$vo.title}</a>
                                <span class="f_mianItem_thumb_time J_date RltItem-data">{$vo.create_time}</span>
                            </h3>
                        </div>
                    </li>
                    {/volist}

                    {$TopData->render()|raw}

                </ul>
            </div>
        </div>
    </div>
</div>


{include file="./common/footer" /}


</body>
</html>





