<div class="buy_content ax-radius">
    <div class="open-head">
        <div class="newhredup">创建规则</div>
        <div class="closeup ax-iconfont ax-icon-close-t"></div>
    </div>
    <form action="/rmtop/addRules"  method="post">
        <div id="tab1" class="item show">
            <div class="ax-break-lg"></div>
            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label">所属分组：</div>
                    <div class="ax-form-con">
                        <div class="ax-form-input">
                            <select name="group_id">
                                <option value="1" >分组1</option>
                                <option value="2" >分组2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ax-break-lg"></div>
            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label">规则名称：</div>
                    <div class="ax-form-input"><input type="text" name="title" id="title" placeholder="请输入规则名称"></div>
                </div>
            </div>
            <div class="ax-break-lg"></div>
            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label">权限URL：</div>
                    <div class="ax-form-input"><input type="text" name="action" id="action" placeholder="请输入权限URL"></div>
                </div>
            </div>
            <div class="ax-break-lg"></div>
            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label">分组：</div>
                    <div class="ax-form-input"><input type="text" placeholder="controller" id="controller" name="controller"></div>
                </div>
            </div>
            <input name="pid" value="" type="hidden">
            <div class="ax-break-lg"></div>
            <div class="ax-break-lg"></div>

            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label"></div>
                    <div class="ax-flex-block">
                        <div class="ax-form-input"><button type="submit" class="ax-btn ax-primary ax-full">确认提交</button></div>
                    </div>
                </div>
            </div>
            <div class="ax-break-lg"></div>

        </div>

    </form>
</div>

<script>
    $(".closeup").click(function () {
        $('#overlay').hide();
        $("#ajax").empty();
    })
</script>

<script type="text/javascript">
    function Fcheck() {
        if($('#title').val() == '') {
            layer.tips('请输入规则名称', '#title', {tips: [2, '#4ea1f5'], tipsMore: false, time:1500});
            $('#title').focus();
            return false;
        }
        if($('#action').val() == '') {
            layer.tips('请输入权限URL', '#action', {tips: [2, '#4ea1f5'], tipsMore: false, time:1500});
            $('#action').focus();
            return false;
        }
        if($('#controller').val() == '') {
            layer.tips('请输入分组', '#controller', {tips: [2, '#4ea1f5'], tipsMore: false, time:1500});
            $('#controller').focus();
            return false;
        }
        return true;
    }
</script>