{include file="/app/rmcore/view/public/hearder" /}

<style>
    .admin_poplistdiv {  background: #f9f9f9;  padding: 5px 8px;  border: 1px solid #eee;  margin: 0px 0px 8px;  }
    .admin_poplistdiv h2 {  font-size: 14px;  cursor: default;padding: 0;  margin: 0;  }
    .ax-checkbox {width: 230px!important;}
</style>

<body  style="background-color:#F4F4F4;margin: 6px; overflow: auto;border-radius: 3px">

<div class="page"  style="box-shadow:none;height: 97%">
    <div class="ax-flex-block" style="flex: 1">
        <div class="ax-breadcrumb sote-lew">
            <a>新增权限组</a>
            <a onclick="window.history.go(-1);" class="ax-btn ax-sm  ax-primary bi bi-arrow-left-short" style="margin-right: 10px"> 返回</a>
        </div>
    </div>
    <div class="tab-contain">
        <div id="content" style="padding-top: 5px">
            <form action=""  method="post">
                <div id="tab1" class="item show">
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label" style="font-size: 15px;font-weight: bold">角色信息</div>
                        </div>
                    </div>
                    <div class="ax-break-lg"></div>
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label">角色名称：</div>
                            <div class="ax-form-input"><input type="text" name="title" value="{$role.title}" placeholder="请输入角色名称"></div>
                        </div>
                    </div>
                    <div class="ax-break-lg"></div>
                    <div class="ax-break-md"></div>
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label" style="font-weight: bold">功能权限：</div>
                            <div class="ax-flex-block" style="flex: 1">
                                <div class="admin_poplistdiv">
                                    {volist name="rules" id="vo"}
                                    <h2>{$vo.title}</h2>
                                     <p>
                                         {volist name="vo.sunList" id="sun"}
                                         <label class="ax-checkbox">
                                            <input name="rule_method[]" value="{$sun.id}" {if $sun.checked} checked {/if} type="checkbox"><span>{$sun.title}</span>
                                        </label>
                                         {/volist}
                                     </p>
                                    {/volist}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="ax-break-lg"></div>
                    <div class="ax-break-lg"></div>

                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label"></div>
                            <div class="ax-flex-block">
                                <div class="ax-form-input"><button type="submit" class="ax-btn ax-primary ax-full">确认提交</button></div>
                            </div>
                        </div>
                    </div>
                    <div class="ax-break-lg"></div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<link href="/static/rmtop/css/jtstyle.css" rel="stylesheet" type="text/css" >

<script type="text/javascript">
    $(function(){
        $('#tabs span').click(function(e) {
            e.preventDefault();
            $('#tabs li').removeClass("current").removeClass("hoverItem");
            $(this).parent().addClass("current");
            $("#content div").removeClass("show");
            $('#' + $(this).attr('title')).addClass('show');
        });

        $('#tabs span').hover(function(){
            if(!$(this).parent().hasClass("current")){
                $(this).parent().addClass("hoverItem");
            }
        },function(){
            $(this).parent().removeClass("hoverItem");
        });
    });
</script>

<script type="text/javascript">
    function Fcheck() {
        if($('#title').val() == '') {
            layer.tips('请输入角色名称', '#title', {tips: [2, '#4ea1f5'], tipsMore: false, time:1500});
            $('#title').focus();
            return false;
        }
        return true;
    }
</script>



