{include file="/app/rmcore/view/public/hearder" /}

<style>
    .admin_poplistdiv {  background: #f9f9f9;  padding: 5px 8px;  border: 1px solid #eee;  margin: 0px 0px 8px;  }
    .admin_poplistdiv h2 {  font-size: 14px;  cursor: default;padding: 0;  margin: 0;  }
</style>

<body  style="background-color:#F4F4F4;margin: 6px; overflow: auto;border-radius: 3px">

<div class="page"  style="box-shadow:none;height: 97%">

    <div class="tab-contain" style="margin-top: 10px;">
        <!-- tab栏 -->
        <ul id="tabs">
            <li class="current"><span title="tab1">新增权限组</span></li>
            <!--<li><span  title="tab2">高级设置</span></li>-->
        </ul>

        <div style="height: 1px;background-color: gainsboro"></div>
        <!-- 对应显示内容 -->

        <div id="content">
            <form action=""  method="post">
                <div id="tab1" class="item show">
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label" style="font-size: 15px;font-weight: bold">角色信息</div>
                        </div>
                    </div>
                    <div class="ax-break-lg"></div>
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label">角色名称：</div>
                            <div class="ax-form-input"><input type="text" name="title" value="{$role.title}"></div>
                        </div>
                    </div>
                    <div class="ax-break-lg"></div>
<!--                    <div class="ax-form-group">-->
<!--                        <div class="ax-flex-row">-->
<!--                            <div class="ax-form-label" style="font-size: 15px;font-weight: bold">权限设置</div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="ax-break-md"></div>-->
<!--                    <div class="ax-form-group">-->
<!--                        <div class="ax-flex-row">-->
<!--                            <div class="ax-form-label">文档权限：</div>-->
<!--                            <div class="ax-flex-block">-->
<!--                                <label class="ax-checkbox"><input name="free-orange2" value="0" type="checkbox"><span>只允许查看自己发布的文档</span></label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="ax-break-md"></div>-->
<!--                    <div class="ax-form-group">-->
<!--                        <div class="ax-flex-row">-->
<!--                            <div class="ax-form-label">操作权限：</div>-->
<!--                            <div class="ax-flex-block">-->
<!--                                <label class="ax-checkbox"><input name="free-orange3" value="0" type="checkbox"><span>完全控制</span></label>-->
<!--                                <label class="ax-checkbox"><input name="free-orange3" value="1" type="checkbox"><span>新增信息</span></label>-->
<!--                                <label class="ax-checkbox"><input name="free-orange3" value="2" type="checkbox"><span>编辑信息</span></label>-->
<!--                                <label class="ax-checkbox"><input name="free-orange3" value="3" type="checkbox"><span>删除信息</span></label>-->
<!--                                <label class="ax-checkbox"><input name="free-orange3" value="4" type="checkbox"><span>审核信息</span></label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="ax-break-md"></div>
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label" style="font-weight: bold">功能权限：</div>
                            <div class="ax-flex-block">
                                <div class="ax-col">
                                    <label class="ax-checkbox"><input name="" value="0" checked="" type="checkbox"><span>全部选择</span></label>
                                </div>
                                <div class="admin_poplistdiv">
                                    <h2>权限功能</h2>
                                    <p>
                                        {volist name="rules" id="vo"}
                                        <label class="ax-checkbox">
                                            <input name="rules_id" value="{$vo.action}" type="checkbox"><span>{$vo.title}</span>
                                        </label>
                                        {/volist}
                                    </p>
                                </div>
<!--                                <div class="admin_poplistdiv">-->
<!--                                    <h2>配置管理</h2>-->
<!--                                    <p>-->
<!--                                        <label class="ax-checkbox"><input name="rules_id" value="0" type="checkbox"><span>管理角色</span></label>-->
<!--                                        <label class="ax-checkbox"><input name="rules_id" value="0" type="checkbox"><span>管理权限</span></label>-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                                <div class="admin_poplistdiv">-->
<!--                                    <h2>系统管理</h2>-->
<!--                                    <p>-->
<!--                                        <label class="ax-checkbox"><input name="rules_id" value="0" type="checkbox"><span>系统配置</span></label>-->
<!--                                        <label class="ax-checkbox"><input name="rules_id" value="0" type="checkbox"><span>自主配置</span></label>-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                                <div class="admin_poplistdiv">-->
<!--                                    <h2>Top应用</h2>-->
<!--                                    <p>-->
<!--                                        <label class="ax-checkbox"><input name="rules_id" value="0" type="checkbox"><span>允许操作</span></label>-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                                <div class="admin_poplistdiv">-->
<!--                                    <h2>系统日志</h2>-->
<!--                                    <p>-->
<!--                                        <label class="ax-checkbox"><input name="rules_id" value="0" type="checkbox"><span>日志管理</span></label>-->
<!--                                        <label class="ax-checkbox"><input name="rules_id" value="0" type="checkbox"><span>运行日志</span></label>-->
<!--                                        <label class="ax-checkbox"><input name="rules_id" value="0" type="checkbox"><span>访客日志</span></label>-->
<!--                                    </p>-->
<!--                                </div>-->
                            </div>
                        </div>

                    </div>

                    <div class="ax-break-lg"></div>
                    <div class="ax-break-lg"></div>

                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label"></div>
                            <div class="ax-flex-block">
                                <div class="ax-form-input"><button type="submit" class="ax-btn ax-primary ax-full">确认提交</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<style>

    #tabs {  overflow: hidden;  width: 100%;  margin: 0;  padding: 0;  list-style: none;  }
    #tabs li {  float: left;  margin-left: 14px;  height: 40px;  line-height: 40px;cursor: pointer ;width: 100px;  }
    li span {  position: relative;  font-size: 16px;  }
    .current li{  outline: 0;  color: #3398cc;  border-bottom: 1px solid #3398cc;    }
    .current span{  outline: 0;  color: #3398cc;  border-bottom: 1px solid #3398cc;  }
    .current span:before{content: '';position: absolute;bottom: 0;left: 2px;width: 95%;
        height: 2px;background: #3398cc;border-radius: 30px;}
    #content {  background: #fff;  padding: 30px 0 25px;  position: relative;  }
    .item{  display: none;  }
    .show{  display: block;  }

</style>

<script type="text/javascript">
    $(function(){
        $('#tabs span').click(function(e) {
            e.preventDefault();
            $('#tabs li').removeClass("current").removeClass("hoverItem");
            $(this).parent().addClass("current");
            $("#content div").removeClass("show");
            $('#' + $(this).attr('title')).addClass('show');
        });

        $('#tabs span').hover(function(){
            if(!$(this).parent().hasClass("current")){
                $(this).parent().addClass("hoverItem");
            }
        },function(){
            $(this).parent().removeClass("hoverItem");
        });
    });
</script>



