<div class="ml-nav no_padding">
    <div class="header-top">
        <div class="wp">
            <div class="link">
                <a>欢迎来到{RmTop:TopInfo  TopKey="web_title" /}</a>
                <a href="/">登录</a>
                <a href="/">注册</a>
            </div>
            <div class="tel">
                <a href="about.html">联系电话：{RmTop:TopInfo  TopKey="kefu_mobile" /}</a>
                <a href="about.html">关于我们</a>
            </div>
        </div>
    </div>
    <div class="center-wrap clearfix">
        <a class="ml-logo" href="/"><img src="{RmTop:TopInfo  TopKey='web_logo' /}"></a>
        <ul class="ml-link">
            <!-- 导航 -->
<!--            } class="current"-->
            {RmTop:MenuList group_id="7"  limit ="9"   name="vo" }
            <li  {if $vo.column_id == $CurrentColumnId} class="current"   {/if} ><a href="{$vo.url}">{$vo.title}</a>  </li>
            {/RmTop:MenuList}
            <!-- 导航 end-->
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="jianges"></div>

<style>
    /*.current a {color: }*/
</style>