@charset "utf-8";
/*body*/
/*body { background: #FFF; min-width: 1000px; }*/

/* 头部
******************************/
.admincp-header { width: 100%; position: relative; z-index: 2; height:51px;}
.admincp-header .wraper{height:48px;}

/* 容器
******************************/
.admincp-container { background-color: transparent; height: 100%; position: relative; z-index: 4; }

.admincp-container-right { background-color: #FFF; position: absolute; z-index: 1; top: 0px; right: 0; bottom: 0; left: 200px; }
.eycms_cont_left{ float:left;  position:relative; background:#333; color:#fff; z-index:99;height:100%;font-size:14px;line-height: 18px }
.eycms_cont_left a{ color:#fff;font-family: 微软雅黑;}
.eycms_cont_left dl{ padding-bottom:18px; position:relative;}
.eycms_cont_left dl dt{ padding:15px 25px 5px; color:#e7e7e7;}
.eycms_cont_left dl dd a{ display:block; overflow: hidden; outline:none; padding-left:20px; height:40px; line-height:40px;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s  }
.eycms_cont_left dl dd a i,.eycms_cont_left dl.jslist dt i{ margin-right:8px; width:28px; text-align:center; color:#fff; position:relative; top:1px; font-size:16px; }
.eycms_cont_left dl dd a:hover,.eycms_cont_left dl dd a.on,.eycms_cont_left dl dt.on{ background:#2c3138;  }
.eycms_cont_left dl.on{}
.eycms_cont_left dl dd a:active{ background:#2c3138; }
.eycms_cont_left dl.jslist{ padding-bottom:0px;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s}
.eycms_cont_left dl.jslist dt{ padding:0px; padding-left:20px; height:40px; line-height:40px; color:#fff; cursor:pointer; position:relative;overflow: hidden; }
.eycms_cont_left dl.jslist dt a{ display:block; }
.eycms_cont_left dl.jslist dd{ display:none; position:absolute; left:200px; bottom: 0px; background:#2c3138; width:200px;}
.eycms_cont_left dl:nth-child(2) dd dl.jslist dd{ top: 0px !important; bottom: auto !important; }
.eycms_cont_left dl.jslist dt i.fa-angle-right{ position:absolute; font-size:20px; color:#fff; right:0px;  height:40px; line-height:40px; }
.eycms_cont_left dl.jslist dd a:hover,.eycms_cont_left dl.jslist dd a.on{ background:#2c3138;}
.eycms_cont_left dl.jslist:hover{ background:#2c3138;}
.eycms_cont_left dl.jslist:hover dd{ display:block !important}
i.fa-mobile{ font-size:26px!important; top:4px!important;}
.eycms_cont_left dl i.fa-plus{ color:#2c3138!important;}
.eycms_cont_left dl i.fa-cube{ color:#ff80ad!important;}
.delete_param{border: 1px solid #eee;border-radius: 10px;height: 25px;line-height: 25px;padding: 0 10px;margin: 5px 10px;font-size: 12px !important;color: #666;cursor: pointer}

.page { background-color: #FFF; min-width: 1000px; padding: 8px 1% 1% 1%; text-align: left; overflow: hidden;
overflow-y: auto;}
.ax-sr-page{overflow: hidden;  overflow-y: auto;height: 100%}


.admincp-header-r { float: right; }
.admincp-header-r .manager,
.admincp-header-r .operate { vertical-align: top; display: inline-block; *display: inline;
  *zoom: 1;
}
.admincp-header-r .manager { height: 30px; padding: 6px 0; position: relative; z-index: 2; }
.admincp-header-r .manager dl {text-align: right; vertical-align: top; display: inline-block; *display: inline;
  margin-right: 10px; *zoom: 1;
}
.admincp-header-r .manager dt { line-height: 16px;font-size: 14px; }
.admincp-header-r .manager dd { line-height: 16px; }
.admincp-header-r .manager .avatar { background-color: transparent; vertical-align: top; display: inline-block; *display: inline;
  width: 32px; height: 34px;  *zoom: 1;
  position: relative; z-index: 1; overflow: hidden; }
.admincp-header-r .manager .avatar .admin-avatar-file { width: 32px; height: 32px; opacity: 0; filter: alpha(opacity=0); position: absolute; z-index: 2; top: 1px; left: 1px; cursor: pointer; }
.admincp-header-r .manager .avatar img { height: 32px; width:32px;  position: absolute; z-index: 1; top: 2px; left: 0;border-radius: 18px; }
.admincp-header-r .manager .arrow { font-size: 0px; line-height: 0; vertical-align: top; display: inline-block; width: 0px; height: 0px; margin-left: 10px; margin-top: 15px; margin-right: 10px; border-width: 4px; border-color: #333 transparent transparent transparent; border-style: solid dashed dashed dashed; cursor: pointer; }
.admincp-header-r .manager .arrow-close { font-size: 0px; line-height: 0; vertical-align: top; display: inline-block; width: 0px; height: 0px; margin-left: 10px; margin-top: 10px; margin-right: 10px; border-width: 4px; border-color: transparent transparent #333 transparent; border-style: dashed dashed solid dashed; cursor: pointer; }
.admincp-header-r .manager-menu { background-color: #FFF; display: none; min-width: 220px; padding: 0 8px 8px 8px; border: solid 1px #D7D7D7; position: absolute; z-index: 2; right: 2px; top: 44px; box-shadow: 0 0 4px rgba(0,0,0, 0.25); }
.admincp-header-r .manager-menu .title { line-height: 22px; height: 22px; margin-top: 8px; margin-bottom: 2px; border-bottom: dotted 1px #DDD; overflow: hidden; }
.admincp-header-r .manager-menu .title h4 { font-weight: 600; font-size: 12px; color: #333; display: inline-block; }
.admincp-header-r .manager-menu .title a { font-size: 0; background: transparent url(../images/combine_img.png) no-repeat; width: 60px; height: 16px; float: right; margin-top: 4px; border-radius: 2px; }
.admincp-header-r .manager-menu .title a:hover { background-color: #999; }
.admincp-header-r .manager-menu .title a.edit-password { background-position: 0px -260px; }
.admincp-header-r .manager-menu .title a.add-menu { background-position: -60px -260px; }
.admincp-header-r .manager-menu .title a:hover.edit-password { background-position: -0px -240px; }
.admincp-header-r .manager-menu .title a:hover.add-menu { background-position: -60px -240px; }
.admincp-header-r .manager-menu .login-date { font-size: 11px; font-family: Tahoma; color: #555; padding: 0 8px; }
.admincp-header-r .manager-menu .login-date span { color: #999; display: block; }
.admincp-header-r .manager-menu li { width: 50%; }
.admincp-header-r .manager-menu li a { line-height: 24px; color: #777; padding-left: 8px; }
.admincp-header-r .operate { height: 48px; border-left: solid 1px rgba(255,255,255,0.25); box-shadow: -1px 0 0 rgba(0,0,0,0.15); }
.admincp-header-r .operate li { width: 48px; position: relative; z-index: 1; }
.admincp-header-r .operate li:hover {
  filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#26FFFFFF', endColorstr='#26FFFFFF'); background: rgba(255,255,255,0.15); }
.admincp-header-r .operate li a { font-size: 0; background: url(../images/combine_img.png) no-repeat; display: block; width: 48px; height: 48px; position: relative; z-index: 1; }
.admincp-header-r .operate li a.sitemap { background-position: 0 -180px; }
.admincp-header-r .operate li a.style-color { background-position: -50px -180px; }
.admincp-header-r .operate li a.homepage { background-position: -100px -180px; }
.admincp-header-r .operate li a.login-out { background-position: -150px -180px; }
.admincp-header-r .operate li a.toast { background-position: -192px -180px; }
.admincp-header-r .operate li a em,.update em { font-size: 10px; font-weight: 600; line-height: 14px; color: #FFF; background-color: #F30; text-align: center; display: block; min-width: 10px; height: 14px; padding: 0 2px; border: solid 2px #FFF; border-radius: 9px; position: absolute; z-index: 1; top: 2px; right: 1px; -webkit-animation: twinkling 1s infinite ease-in-out; }
.update em{ float:right;margin: 16px 20px 0 0;}
@-webkit-keyframes 'twinkling' { /*透明度由0到1*/
  0% {
    opacity:0;  /*透明度为0*/
  }
  100% {
    opacity:1;  /*透明度为1*/
  }
}
.admincp-header-r .operate li .sub-menu { position: absolute; z-index: 1; }

/*!*nav*!*/
/*.ax-admin nav {*/
/*  position: relative;*/
/*  background-color: #2e424d;*/
/*  width: 220px;*/
/*  transition: all 0.2s linear;*/
/*  z-index: 3;*/
/*}*/

/*.ax-admin nav .ax-nav-header {*/
/*  border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
/*  position: relative;*/
/*  height: 44px;*/
/*  overflow: hidden;*/
/*}*/
/*.ax-admin nav .ax-nav-header .ax-logo {*/
/*  position: relative;*/
/*}*/
/*.ax-admin nav .ax-nav-header .ax-logo img {*/
/*  height: 44px;*/
/*}*/
/*.ax-admin nav .ax-nav-header .ax-close-nav {*/
/*  color: rgba(255, 255, 255, 0.5);*/
/*  width: 44px;*/
/*  height: 44px;*/
/*  line-height: 44px;*/
/*  text-align: center;*/
/*  position: absolute;*/
/*  right: 0;*/
/*  top: 0;*/
/*  background-color: #2e424d;*/
/*  z-index: 2;*/
/*  transition: all 0.2s linear;*/
/*}*/
/*.ax-admin nav .ax-nav-header .ax-close-nav:hover {*/
/*  color: #fff;*/
/*}*/
/*!*menu fold*!*/
/*.ax-admin nav.ax-nav-fold {*/
/*  width: 52px;*/
/*}*/
/*.ax-admin nav.ax-nav-fold .ax-nav-header .ax-close-nav {*/
/*  width: 52px;*/
/*  transform: rotateY(180deg);*/
/*}*/
/*.ax-admin nav.ax-nav-fold .ax-menu .ax-legend {*/
/*  margin-right: 14px;*/
/*}*/
/*.ax-admin nav .ax-close-nav-all {*/
/*  text-align: center;*/
/*  background-color: #fff;*/
/*  border-top: 1px solid #ebebeb;*/
/*  border-right: 1px solid #ebebeb;*/
/*  border-bottom: 1px solid #ebebeb;*/
/*  border-radius: 0 6px 6px 0;*/
/*  line-height: 44px;*/
/*  width: 12px;*/
/*  position: absolute;*/
/*  right: -13px;*/
/*  top: 50%;*/
/*  transition: all 0.2s linear;*/
/*}*/
/*.ax-admin nav.ax-nav-fold-all {*/
/*  width: 0;*/
/*}*/
/*.ax-admin nav.ax-nav-fold-all .ax-close-nav-all span {*/
/*  transform: rotateY(180deg);*/
/*}*/
/*.ax-admin nav .ax-close-nav-all span {*/
/*  font-size: 10px;*/
/*  color: #198cff;*/
/*  transition: all 0.2s linear;*/
/*}*/
/*.ax-admin nav .ax-close-nav-all:hover {*/
/*  border-color: #198cff;*/
/*}*/
/*.ax-admin nav .ax-mask {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background-color: rgba(255, 255, 255, 0);*/
/*  cursor: pointer;*/
/*  position: absolute;*/
/*  left: 0;*/
/*  top: 0;*/
/*  display: none;*/
/*}*/
/*.ax-admin nav.ax-nav-fold .ax-mask {*/
/*  display: block;*/
/*}*/
/*end*/
/*aside*/
.ax-admin aside {
  border-left: 1px solid #ebebeb;
  width: 300px;
  background-color: #fff;
  display: none;
}
.ax-admin aside.ax-aside-unfold {
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: initial;
}
.ax-admin aside .ax-aside-header {
  border-bottom: 1px solid #ebebeb;
}
.ax-admin aside .ax-aside-header .ax-title {
  line-height: 44px;
  padding-left: 14px;
  font-weight: bold;
}
.ax-admin aside .ax-aside-header .ax-close-aside {
  color: #b3b3b3;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  transition: all 0.2s linear;
}
.ax-admin aside .ax-aside-footer {
  border-top: 1px solid #ebebeb;
  line-height: 44px;
  text-align: center;
}
.ax-admin aside .ax-aside-main {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.ax-admin header .ax-open-aside {
  color: #adbdcc;
  width: 44px;
  line-height: 44px;
  text-align: center;
}
.ax-admin header .ax-open-aside:hover {
  color: #198cff;
}
.ax-admin header .ax-open-aside-rotate {
  transform: rotateY(180deg);
}
/**/
/*header*/
.ax-admin header {
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
}
.ax-admin header .ax-breadcrumb {
  height: 44px;
  line-height: 44px;
  padding-left: 14px;
}
.ax-admin header .ax-header-icons a {
  color: #adbdcc;
  font-size: 16px;
  float: left;
  width: 36px;
  line-height: 44px;
  text-align: center;
  position: relative;
  transition: all 0.2s linear;
}
.ax-admin header .ax-header-icons a:hover {
  color: #198cff;
}
.ax-admin header .ax-header-icons a .ax-dot {
  position: absolute;
  right: 4px;
  top: 8px;
}
.ax-header-icons a .ax-badge {
  position: absolute;
  right: 0px;
  top: 4px;
}
.ax-admin header .ax-header-search {
  position: relative;
  margin: calc((44px - 28px)/2);
}
.ax-admin header .ax-header-search input[type="text"] {
  height: 28px;
  line-height: 28px;
}
.ax-admin header .ax-header-search *[class*="font"] {
  font-size: 12px;
  color: #ccc;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.ax-admin header .ax-header-search *[class*="font"]:hover {
  color: #198cff;
  font-size: 14px;
}
.ax-admin header .ax-header-user {
  margin: calc((44px - 28px)/2);
}
/**/
/*main*/
.ax-body {
  height: 100%;
}
.ax-admin main {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
/*footer*/
.ax-admin footer {
  padding: 0 14px;
  text-align: center;
  color: #ccc;
}
.ax-admin footer a {
  color: #ccc;
}
/*Telephone & iPad*/
@media screen and (max-width: 900px) {
  .ax-admin nav .ax-close-nav-all {
    display: none;
  }
  .ax-admin nav {
    position: absolute;
    left: 0;
    top: 0;
  }
  .ax-admin nav.ax-nav-fold {
    width: 220px;
    left: -221px;
  }
  .ax-admin nav.ax-nav-fold .ax-mask {
    display: none;
  }
  .ax-admin nav .ax-nav-header {
    overflow: visible;
  }
  .ax-admin nav .ax-nav-header .ax-close-nav {
    color: #fff;
  }
  .ax-admin nav.ax-nav-fold .ax-nav-header .ax-close-nav {
    right: -52px;
  }
  .ax-admin .ax-body header {
    padding-left: 52px;
  }
  .ax-admin aside.ax-aside-unfold {
    width: calc(100% - 52px);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
  }
}
.wen-label{    line-height: 38px;font-size: 14px;}
.ax-form-border-r{border: 1px solid #e0e0e0;padding-left: 10px;border-radius: 3px}

/*多图上传*/
.z_photo{position: relative;display: flex;flex-wrap: wrap}
.z_photo .z_file{position: relative;cursor: pointer}
.z_file  .file{width: 100%;height: 100%;opacity: 0;position: absolute;top: 0px;left: 0px;z-index: 100;}
.z_photo .up-section{position: relative;margin-right: 13px;margin-bottom: 13px;}
.up-section .close-upimg{position: absolute;top: 2px;right: 2px;display: none;z-index: 10;width: 22px;cursor: pointer}
.up-section .up-span{display: block;width:100%;height:100%;visibility:hidden;position:absolute;top:0px;left:0px;z-index:9;background: rgba(0,0,0,.5);}
.up-section:hover .close-upimg{display: block;}
.up-section:hover .up-span{visibility: visible;}
.z_photo .up-img{display: block;width: 100%;height: 100%;}
.loading{border: 1px solid #D1D1D1;background:url(../images/loading.gif) no-repeat center;}
.up-opcity{opacity: 0;}
/*.fl {float: left;}*/
.img-name-p{display: none;}
.upimg-div .up-section {width: 100px;height: 100px;}
.img-box .upimg-div .z_file {width: 100px;height: 100px;}
.z_file .add-img {display: block;width: 100px;height: 100px;cursor: pointer}
.mask{z-index: 99999;display: none;position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;background: rgba(0,0,0,.4);}
.mask .mask-content{width: 300px;position: absolute;top:40%;left: 50%;margin-left: -250px;margin-top: -80px;background: white;height: 100px;
  text-align: center;border-radius: 4px;}
.mask .mask-content .del-p{color: #666;height: 60px;line-height:60px;font-size: 14px;border-bottom: 1px solid #eee;margin-bottom: 0;padding: 0}
.mask-content .check-p{height: 33px;line-height: 33px;position: absolute;bottom: 0px;left: 0px;width: 100%;margin-bottom: 0;cursor: pointer;}
.mask-content .check-p span{width: 49%;display:inline-block;text-align: center;color:#398fec ;font-size: 14px;}
.check-p .del-com{border-right: 1px solid #eee;}
.wsdel-no{color: #888 !important}
.add-goods{width: 100%;margin-top: 30px;}
.add-goods .input-w{min-width: 500px !important;max-width: 60%;}
.add-goods .form-group{margin-bottom: 40px}
.up-p{margin-bottom: 0;margin-top: 7px;font-size: 12px;color: #999;}
.up-p span{color: #398fec;margin-left: 12px}
.new-tag{    width: 70px;text-align: right;margin: 0;}
.goods-whith {padding-left: 30px;width: 115px;text-align: left;}

.soured-t{position: relative;display: flex;}
.soured-t p{flex: 1;margin-right: 20px;word-wrap: break-word;word-break: break-all;}
.soured-t img{width:111px;height: 111px }
.copy-success{display: none;padding: 9px 30px;text-align: center;background-color: #75d1fb;color: #fbf8f8;border-radius: 4px;position: fixed;top: 40%;left: 37%;
  box-shadow: 0px 0px 6px 0px rgb(0 0 014%);}
.qif-te{height: 30px !important;margin-top: 5px!important;}

.large{position: fixed;max-width: 380px;max-height: 400px;z-index: 9999;margin-top: 10px;background: #fff}
.large img{width: 100%;height: auto;object-fit: cover;}
.large2{position: fixed;max-width: 380px;max-height: 400px;z-index: 9999;margin-top: 10px;background: #fff}
.large2 img{width: 100%;height: auto;object-fit: cover;}
.large3{position: fixed;max-width: 380px;max-height: 400px;z-index: 9999;margin-top: 10px;background: #fff}
.large3 img{width: 100%;height: auto;object-fit: cover;}