<!--main-->
{include file="/app/rmcore/view/public/hearder" /}

<main class="ax-flex-block">
    <div class="ax-sr-page">
    <div class="ax-padding ax-margin ax-shadow-border">

        <div class="ax-break-lg"></div>

        <table class="ax-table ax-border ">
            <thead>
            <tr>
                <th style="width:50px;"><input name="" type="checkbox" value=""></th>
                <th>栏目ID</th><th>栏目名称</th><th>栏目简称</th><th>资源数量</th><th>操作</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td><input name="" type="checkbox" value=""></td>
                <td><div class="ax-align-center">znxm</div></td>
                <td><div class="ax-align-center">1231231311</div></td>
                <td><div class="ax-align-center">123<span class="ax-color-danger">6%</span>利息回购</div></td>
                <td><div class="ax-align-center">12312312322312<span class="ax-color-danger">6%</span>利息回购</div></td>
                <td>
                    <div class="ax-operate">
                        <!--<a href="##" class="ax-iconfont ax-icon-eye-fill" title="查看"></a>-->
                        <a href="" class="ax-iconfont ax-icon-editing-fill" title="编辑"></a>
                        <a href="" class="ax-iconfont ax-icon-trash-alt-fill" title="删除"></a>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="13">
                    <div class="ax-flex-row">
                        <div class="ax-flex-block ax-align-left"><input name="" type="checkbox" value="">全选</div>
                        <div class="ax-flex-block ax-align-right"><a href="##" class="ax-btn ax-primary ax-xs">批量删除</a></div>
                        <span class="ax-gutter"></span>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>

        <div class="ax-pagination">
            <a class="ax-total">共142条</a><a href="##" class="ax-prev">上一页</a><a href="##">1</a><a class="ax-active">2</a><a href="##">3</a><a href="##">4</a><a href="##">5</a><a href="##">6</a><a href="##" class="ax-next">下一页</a><a href="##" class="ax-last">尾页</a>
        </div>
    </div>
</div>
</main>