{include file="./common/hearder" /}

<body>
{include file="./common/topmenu" /}

{include file="./common/Bread" /}

<div class="container-fluid">
    <div class="row row-static">
        <div class="col-md-12">
            <div class="Webpart">
                <div class="block-title">
                    <h3 class="title">{$Category.category_title}</h3>
                    <p class="sub-title"></p>
                    <div class="line"> <span class="short-line"></span> <span class="long-line"></span> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-static" style="margin-bottom:80px;">
        <div class="col-md-8 col-sm-12" style="width: auto;">
            <div class="articles">

                {volist name="TopData" id="vo"}
                <div class="article article-vertical">
                    <div class="article-body"> <a href="{$vo.url}" target="_blank"><h3 class="title">{$vo.title}</h3><span class="create">{$vo.create_time}</span> </a> </div>
                </div>
                {/volist}

            </div>

            <!--分页-->
            <div class="pagination-wrapper">
                {$TopData->render()|raw}
            </div>

        </div>
    </div>
</div>

{include file="./common/footer" /}

</body>

</html>
