{include file="./common/hearder" /}

<body>
{include file="./common/topmenu" /}

<div class="clearfix"></div>

{include file="./common/Bread" /}

<div class="mainBg backgroundf0 box3Bg">
    <div class="container new-dis">
        <!--新闻列表-->
        <div class="news_list mtb20 row">

            <ul class="list_style">
                {volist name="TopData" id="vo"}
                <li class="news_info wow fadeInUp animated animated" style="visibility: visible; animation-name: fadeInUp;">
                    <a href="{$vo.url}" class="contents">
                        <div class="news_time">
                            <img src="{$vo.org_img}">
                        </div>
                        <div class="news_contents"><h3>{$vo.title}</h3>
                            <h5>{$vo.content|raw}</h5>
                            <span class="number">发布时间：{$vo.create_time}</span>
                            <span class="more_link">阅读全文 > </span>
                        </div>
                    </a>
                </li>
                {/volist}
            </ul>
            <!--分页-->

            <div class="pages clearfix">
                {$TopData->render()|raw}
            </div>
        </div>

        <!--推荐-->
        <div class="info-right ib-top">
            <div class="part3 right_side show_right scroll-watch-in-view scroll-watch-ignore">
                <div class="name">推荐资讯</div>
                {volist name="TopData" id="vo"}
                <div class="refer">
                    <a href="{$vo.url}">
                        <span class="hdis-tlt">{$vo.title}</span>
                        <p><label class="spda-time">阅读量：{$vo.create_time}</label><label class="yedt-read">阅读量：{$vo.views}</label></p>
                    </a>
                </div>
                {/volist}
            </div>
        </div>
    </div>
</div>

{include file="./common/footer" /}

</body>
</html>
