{volist name="Params" id="vo"}
{switch $vo.type }
{case text }
<div class="ax-break-lg"></div>
<div class="ax-form-group">
  <div class="ax-flex-row">
    <span class="ax-form-label">{$vo.title}({$vo.key})：</span>
    <div class="ax-form-input">
      <input name="{$vo.key}" value="{$list[$vo.key]}" type="text">
    </div>
  </div>
</div>
{/case}
{case textarea }
<div class="ax-break-lg"></div>

<div class="ax-form-group">
  <div class="ax-flex-row">
    <span class="ax-form-label">{$vo.title}({$vo.key})：</span>
    <div class="ax-form-input">
      <textarea name="{$vo.key}" cols="" rows="" placeholder="写内容">{$list[$vo.key]}</textarea>
    </div>

  </div>
</div>
{/case}
{case file}
<div class="ax-break-lg"></div>

<div class="ax-form-group">
  <div class="ax-flex-row">
    <span class="ax-form-label">{$vo.title}({$vo.key})：</span>
    <div class="ax-form-input">
      <input id="{$vo.key}" class="ax-input-file" onchange=handleFile("{$vo.key}") type="file">
      <input name="{$vo.key}" value="{$list[$vo.key]}"  placeholder="请上传文件" id="org_img_{$vo.key}" type="text">
      <span  class="ax-file-btn" >选择图片</span>
    </div>

  </div>
</div>
{/case}
{default /}
<div class="ax-break-lg"></div>

<div class="ax-form-group">
  <div class="ax-flex-row">
    <span class="ax-form-label">{$vo.title}({$vo.key})：</span>
    <div class="ax-form-input">
      <div class="ax-form-input"><input name="{$vo.key}" value="{$list[$vo.key]}" type="text"></div>
    </div>
  </div>
</div>
{/switch}
{/volist}
