<!--main-->
{include file="/app/rmcore/view/public/hearder" /}
<div class="ax-sr-page">
<div class="ax-row ax-align-center ">
    <a href="{$actions.download_add}" class="ax-btn ax-sm ax-primary ax-iconfont ax-icon-plus-t lj-a-btn">创建资料</a>
</div>
<div style="height: 1px;margin-bottom: 10px;background-color: gainsboro;"></div>

<table class="ax-table ">
    <thead>
    <tr style="background-color:#efefef " class="ax-shadow-border ax-radius">
        <th style="width:50px;"><input name="" type="checkbox" value=""></th>
        <th>ID</th><th>标题</th><th>排序</th><th>栏目</th><th>点击量</th><th>下载次数</th><th>发布时间</th><th>操作</th>
    </tr>
    </thead>
    <tbody>

    {volist name="list" id="vo"}
    <tr style="height: 60px">
        <td><input name="" type="checkbox" value=""></td>
        <td><div class="ax-align-center">{$vo.id}</div></td>
        <td><div class="ax-align-center">{$vo.title}</div></td>
        <td><div class="ax-align-center">{$vo.sort}</div></td>
        <td><div class="ax-align-center">{$vo.column_title}</div></td>
        <td><div class="ax-align-center">{$vo.hits}</div></td>
        <td><div class="ax-align-center">{$vo.download}</div></td>
        <td><div class="ax-align-center">{$vo.create_time}</div></td>
        <td>
            <div class="ax-operate">
                <a href="{:previewUrl($vo.uqid,$vo.col_id,$vo.title)}" target="_blank" class="ax-iconfont ax-icon-eye-fill" title="查看"></a>
                <a href="{$actions.download_edit}&id={$vo.id}" class="ax-iconfont ax-icon-editing-fill" title="编辑"></a>
                <a href="{$actions.download_delete}&id={$vo.id}" class="ax-iconfont ax-icon-trash-alt-fill" title="删除"></a>
            </div>
        </td>
    </tr>
    {/volist}
    </tbody>

</table>

    <div class="ax-pagination">
        {$list->render()|raw}
    </div>
</div>
</body>
</html>