{include file="./common/hearder" /}

<body>

{include file="./common/topmenu" /}


<div class="clearfix"></div>

{include file="./common/Bread" /}

<div class="mainBg">
    <div class="mainBgImg"></div>
    <div class="container">
        <div class="onepage">
            <div class="title2" style="margin-bottom: 50px;"><h2>{$Category.category_title}</h2></div>
            <div class="oneText">
                {RmTop:TopContentInfo sid = "10"  TopType="single"  TopKey="text"/}
            </div>
        </div>
    </div>

</div>

{include file="./common/footer" /}

</body>
</html>
