<!--导航-->
<div class="container-fluid" style="background-color:#000;">
    <div class="row row-static">
        <div style="float:left;color:#a3a3a3;height:30px;line-height:30px;">某某茶叶体验店欢迎您！</div>
        <div style="float:right;color:#a3a3a3;height:30px;line-height:30px;">联系电话：{RmTop:TopInfo  TopKey="kefu_mobile" /}</div>
    </div>
</div>
<div class="container-fluid common-header" style="border-bottom:1px solid #E3E3E3;">
    <div class="row row-static">
        <div class="Webpart">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <!--移动端按钮-->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <div class="logo navbar-brand" style=""><a href="/" style='display:block'><img src="{RmTop:TopInfo  TopKey='web_logo' /}"></a></div>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        {RmTop:MenuList group_id="11"  limit ="8"   name="vo" }
                        <li class="hsa {if $vo.column_id == $CurrentColumnId} active {/if} ">
                            <a target="_self"  href="{$vo.url}">{$vo.title}</a>
                            {if $vo.childNum != 0}
                            <ul class="dropdown-menu aria-labelledby">
                                {RmTop:ChildMenuList pid="$vo['id']"  limit ="6"  name="vo_child" }
                                <li><a href="{$vo_child.url}" target="_self">{$vo_child.title}</a></li>
                                {/RmTop:ChildMenuList}
                            </ul>
                            {/if}
                        </li>
                        {/RmTop:MenuList}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<!--导航end-->

