{include file="/app/rmcore/view/public/hearder" /}

<body  style="overflow: auto;border-radius: 3px;">


<div class="tab-contain" style="margin-top: 10px;">
    <!-- tab栏 -->
    <ul id="tabs">
        <li class="current"><span title="tab1">常规选项</span></li>
        <li><span  title="tab2">其他选项</span></li>
    </ul>

    <div style="height: 1px;background-color: gainsboro"></div>

    <!-- 对应显示内容 -->

    <div id="contents">
        <form action=""  method="post">
            <div id="tab1" class="item show">
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label">标题：</div>
                        <div class="ax-form-input"><input type="text" name="title"></div>
                    </div>
                </div>

                <div class="ax-break-lg"></div>

                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label">所属栏目：</div>
                        <div class="ax-form-con">
                            <div class="ax-form-input">
                                <select name="model">
                                    <option value="0">栏目1</option>
                                    <option value="1">栏目2</option>
                                    <option value="2">栏目3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ax-break-lg"></div>

                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label">缩略图：</div>
                        <div class="ax-form-con">
                            <div class="ax-form-input">
                                <input onchange="document.getElementById('file-view').value=this.value;" id="file-upload" class="ax-input-file" type="file">
                                <input name="username" placeholder="点击选择头像" onmouseout="document.getElementById('file-upload').style.display='none';" id="file-view" type="text">
                                <span onmouseover="document.getElementById('file-upload').style.display='block';" class="ax-file-btn">选择图片</span>
                            </div>
                        </div>
                        <!--<a href="##" class="ax-form-head" style="background-image:url(examples/images/head01.jpg),url(core/images/loading.gif);"></a>-->
                    </div>
                </div>

                <div class="ax-break-lg"></div>
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label">内容详情：</div>
                        <div style="position: relative;width:700px ">
                            <div id="content" class=""></div>
                        </div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>

                <!--<div class="ax-form-group">-->
                <!--<div class="ax-flex-row">-->
                <!--<div class="ax-form-label">是否隐藏：</div>-->
                <!--<div class="ax-form-con">-->
                <!--<div class="ax-form-input">-->
                <!--<div class="ax-row">-->
                <!--<div class="ax-col ax-col-8">-->
                <!--<label class="ax-radio">-->
                <!--<input name="is_show" value="0" checked="" type="radio">-->
                <!--<span>否</span>-->
                <!--</label>-->
                <!--</div>-->
                <!--<div class="ax-col ax-col-8">-->
                <!--<label class="ax-radio">-->
                <!--<input name="is_show" value="1" type="radio">-->
                <!--<span>是</span>-->
                <!--</label>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="ax-break-lg"></div>

                <div class="ax-break-lg"></div>
                <div class="ax-break-lg"></div>

                <input name="pid" value="" type="hidden">
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label"></div>
                        <div class="ax-flex-block">
                            <div class="ax-form-input"><button type="submit" class="ax-btn ax-primary ax-full">确认提交</button></div>
                        </div>
                    </div>
                </div>

            </div>


            <div id="tab2" class="item">
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <span class="ax-form-label">作者：</span>
                        <div class="ax-form-input"><input type="text"></div>
                    </div>
                </div>

                <div class="ax-break-lg"></div>
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <span class="ax-form-label">访问量：</span>
                        <div class="ax-form-input"><input type="text"></div>
                    </div>
                </div>

                <div class="ax-break-lg"></div>

                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label">阅读权限：</div>
                        <div class="ax-form-con">
                            <div class="ax-form-input">
                                <select name="model">
                                    <option value="0">开放阅读</option>
                                    <option value="1">待审核稿件</option>
                                    <option value="2">注册会员</option>
                                    <option value="3">初级会员</option>
                                    <option value="4">中级会员</option>
                                    <option value="5">高级会员</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>

                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label">文档模板：</div>
                        <div class="ax-form-con">
                            <div class="ax-form-input">
                                <select name="model">
                                    <option value="0">模板1</option>
                                    <option value="1">模板2</option>
                                    <option value="2">模板3</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>

                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <span class="ax-form-label">TGA标签：</span>
                        <div class="ax-form-input"><input type="text"></div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>

                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <span class="ax-form-label">SEO标题：</span>
                        <div class="ax-form-input"><input type="text"></div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>

                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <span class="ax-form-label">SEO关键词：</span>
                        <div class="ax-form-input"><input type="text"></div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>

                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <span class="ax-form-label">SEO描述：</span>
                        <div class="ax-form-input">
                            <textarea name="" cols="" rows="" placeholder="写评论"></textarea>
                        </div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>

                <div class="ax-break-lg"></div>

                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label"></div>
                        <div class="ax-flex-block">
                            <div class="ax-form-input"><button type="button" class="ax-btn ax-primary ax-full">确认提交</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
<style>
    #tabs {  overflow: hidden;  width: 80%;  margin: 0;  padding: 0;  list-style: none;  }
    #tabs li {  float: left;  margin-left: 14px;  height: 40px;  line-height: 40px;  width: 100px;cursor: pointer  }
    li span {  position: relative;  font-size: 16px;  }
    .current li{  outline: 0;  color: #3398cc;  border-bottom: 1px solid #3398cc;    }
    .current span{  outline: 0;  color: #3398cc;  border-bottom: 1px solid #3398cc;  }
    .current span:before{content: '';position: absolute;bottom: 0;left: 2px;width: 95%;
        height: 2px;background: #3398cc;border-radius: 30px;}
    #contents {  background: #fff;  padding: 30px 0 25px;  position: relative;  }
    .item{  display: none;  }
    .show{  display: block;  }

</style>

<script type="text/javascript">
    $(function(){
        $('#tabs span').click(function(e) {
            e.preventDefault();
            $('#tabs li').removeClass("current").removeClass("hoverItem");
            $(this).parent().addClass("current");
            $("#contents div").removeClass("show");
            $('#' + $(this).attr('title')).addClass('show');
        });

        $('#tabs span').hover(function(){
            if(!$(this).parent().hasClass("current")){
                $(this).parent().addClass("hoverItem");
            }
        },function(){
            $(this).parent().removeClass("hoverItem");
        });
    });
</script>

<script charset="utf-8" src="/static/neditor/neditor.config.js"></script>
<script charset="utf-8" src="/static/neditor/neditor.all.js"></script>
<script charset="utf-8" src="/static/neditor/neditor.service.js"></script>
<script>
    UE.getEditor("content",{
        autoHeight: false,
        initialFrameHeight:400,
        initialFrameWidth:window.screen.width/2.2,
    });
</script>


