{include file="/app/rmcore/view/public/hearder" /}

<body  style="background-color:#F4F4F4;margin: 6px; overflow: auto;border-radius: 3px">

<div class="page"  style="box-shadow:none;height: 97%">

    <div class="tab-contain" style="margin-top: 10px;">
        <!-- tab栏 -->
        <ul id="tabs">
            <li class="current"><span title="tab1">基础设置</span></li>
            <li><span  title="tab2">高级设置</span></li>

            <a onclick="window.history.go(-1);" class="ax-btn ax-sm  ax-primary bi bi-arrow-left-short" style="position: absolute;right: 35px; width: 60px;height: 33px;"> 返回</a>
        </ul>

        <div style="height: 1px;background-color: gainsboro"></div>
        <!-- 对应显示内容 -->
        <form action="" method="post" onsubmit="return Fcheck();">
        <div id="content">
                <div id="tab1" class="item show">
                    <div class="ax-break-lg"></div>
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label">栏目名称：</div>
                            <div class="ax-form-input">
                                <input type="text" name="title" id="title" placeholder="请输入栏目名称">
                            </div>
                        </div>
                    </div>
                    <div class="ax-break-lg"></div>
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label">目录名称：</div>
                            <div class="ax-form-input">
                                <input type="text" name="en_title" id="en_title" value="" placeholder="请输入目录名称">
                            </div>
                        </div>
                    </div>
                    <div class="ax-break-lg"></div>
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label">内容模型：</div>
                            <div class="ax-form-con">
                                <div class="ax-form-input">
                                    <select name="model">
                                        {volist name="col_models" id="vo"}
                                        <option value="{$vo.model_type}">{$vo.title}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ax-break-lg"></div>
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label">是否隐藏：</div>
                            <div class="ax-form-con">
                                <div class="ax-form-input">
                                    <div class="ax-row">
                                        <div class="ax-col ax-col-8">
                                            <label class="ax-radio">
                                                <input name="is_show" value="0" checked="" type="radio">
                                                <span>否</span>
                                            </label>
                                        </div>
                                        <div class="ax-col ax-col-8">
                                            <label class="ax-radio">
                                                <input name="is_show" value="1" type="radio">
                                                <span>是</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <input name="pid" value="{:input('pid')}" type="hidden">


                </div>


                <div id="tab2" class="item">
                    <div class="ax-break-lg"></div>
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label">栏目图片：</div>
                            <div class="ax-form-con">
                                <div class="ax-form-input">
                                    <input id="file" onchange=handleFile("file") class="ax-input-file showImg" type="file">
                                    <input name="org_img" value="" placeholder="上传图片" id="org_img_file" type="text">
                                    <span  class="ax-file-btn">选择图片</span>
                                </div>
                                <div class="large"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ax-break-lg"></div>

                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label">列表模板：</div>
                            <div class="ax-form-con">
                                <div class="ax-form-input">
                                    <input name="list_tmp" id="list_tmp" value="" placeholder="选择模版,不设置则为默认模版" type="text">
                                    <span onmouseover="document.getElementById('file-upload').style.display='block';" class="ax-file-btn">选择模版</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ax-break-lg"></div>

                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label">详情模板：</div>
                            <div class="ax-form-con">
                                <div class="ax-form-input">
                                    <input name="info_tmp" id="info_tmp" value="" placeholder="选择模版,不设置则为默认模版" type="text">
                                    <span onmouseover="document.getElementById('file-upload').style.display='block';" class="ax-file-btn">选择模版</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="ax-break-lg"></div>
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <span class="ax-form-label">SEO标题：</span>
                            <div class="ax-form-input">
                                <input type="text" placeholder="请输入SEO标题">
                            </div>
                        </div>
                    </div>
                    <div class="ax-break-lg"></div>
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <span class="ax-form-label">SEO关键字：</span>
                            <div class="ax-form-input">
                                <input type="text" placeholder="请输入SEO关键字">
                            </div>
                        </div>
                    </div>
                    <div class="ax-break-lg"></div>
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <span class="ax-form-label">SEO描述：</span>
                            <div class="ax-form-input">
                                <textarea name="" cols="" rows="" placeholder="请简单描述一下"></textarea>
                            </div>
                        </div>
                    </div>

                </div>

            <div class="ax-break-lg"></div>
            <div class="ax-break-lg"></div>

            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label"></div>
                    <div class="ax-flex-block">
                        <div class="ax-form-input"><button type="submit" class="ax-btn ax-primary ax-full">保存</button></div>
                    </div>
                </div>
            </div>
          </div>
        </form>
    </div>
</div>
</body>

<link href="/static/rmtop/css/jtstyle.css" rel="stylesheet" type="text/css" >

<script src="/static/rmtop/js/TopUpload.js"></script>

<script type="text/javascript">
    $(function(){
        $('#tabs span').click(function(e) {
            e.preventDefault();
            $('#tabs li').removeClass("current").removeClass("hoverItem");
            $(this).parent().addClass("current");
            $("#content div").removeClass("show");
            $('#' + $(this).attr('title')).addClass('show');
        });

        $('#tabs span').hover(function(){
            if(!$(this).parent().hasClass("current")){
                $(this).parent().addClass("hoverItem");
            }
        },function(){
            $(this).parent().removeClass("hoverItem");
        });
    });
</script>

<script type="text/javascript">
    function Fcheck() {
        if($('#title').val() == ''){
            layer.tips('请输入栏目名称', '#title', {tips: [2, '#4ea1f5'], tipsMore: false, time:1500});
            $('#title').focus();
            return false;
        }
        if($('#en_title').val() == '') {
            layer.tips('请输入目录名称', '#en_title', {tips: [2, '#4ea1f5'], tipsMore: false, time:1500});
            $('#en_title').focus();
            return false;
        }
        return true;
    }
</script>
<script charset="utf-8" src="/static/layer/layer.js"></script>

<script>
    //鼠标移动到上传图片输入框预览图片
    $(function(){
        var ei = $(".large");
        ei.hide();
        $(".showImg").mousemove(function(e){
            var UpsImg = $('#org_img_file').val()
            ei.html('<img src=" '+ UpsImg +' " />').show();
        }).mouseout( function(){
            ei.hide();
        })
    });
</script>
