{include file="/app/rmcore/view/public/hearder" /}

<body  style="background-color:#F4F4F4;margin: 6px; overflow: hidden;border-radius: 3px" >

<div class="page"  style="box-shadow:none;height: 100%">
    {include file="/app/rmcore/view/public/bana_nav" /}

    <div id="page">

    <div class="ax-margin ax-col " >
       <div class="ax-margin-tb">
           <a href="/rmtop/addColumn" class="ax-btn ax-sm  ax-primary ax-iconfont ax-icon-plus-t ax-iconfont ax-icon-plus">添加栏目</a>
       </div>

       <table class="ax-table  ax-padding ax-hover">
           <thead>
           <tr style="background-color: #efefef">
               <th class="ax-padd-lf ax-margin-lr"  width="10%">ID</th>
               <th class=" ax-align-left" width="35%">栏目名称</th>
               <th class=" ax-margin-lr" width="30%">栏目模型</th>
               <th class=" ax-margin-lr" width="25%">操作</th>
           </tr>
           </thead>

           <tbody>
           {volist name="column_list" id="vo"}
           <tr height="50px">
               <td class="ax-padd-lf">{$vo.id}</td>
               <td style="cursor: pointer;font-weight: bolder" class="ax-align-left"><span class="rm-next"   >
                   {notempty name="$vo.sunList"}
                   <em class="jiaj_{$vo.id}" onclick="showIt('{$vo.id}',this)"><img src="/static/rmtop/images/lit-more.png"></em>
                   {/notempty}
                   {empty name="$vo.sunList"}
                   <em class="jiaj_{$vo.id}" ><img src="/static/rmtop/images/lit-cle.png"></em>
                   {/empty}
                   {$vo.title}</span></td>
               <td>{$vo.model_title??"空模型"}</td>
               <td>
                   {if condition="$vo.is_index eq 0"}
                   <a href="/rmtop/pageHome?col_id={$vo.id}">设置首页</a><i class="ricrt"></i>
                   {else /}
                   <a style="color: #0b72da" href="/rmtop/homeOut?col_id={$vo.id}" >系统首页(取消)</a><i class="ricrt"></i>
                   {/if}
                   <a href="/rmtop/addColumn?pid={$vo.id}">添加子栏目</a><i class="ricrt"></i>
                   <a href="/rmtop/editColumn?col_id={$vo.id}">编辑</a><i class="ricrt"></i>
                   <a href="/rmtop/delete_column?col_id={$vo.id}">删除</a>
               </td>
           </tr>

           {volist name="vo.sunList" id="sun"}
           <tr class="child erlist{$vo.id}"  height="50px" style="display: none">
               <td class="ax-padd-lf">{$sun.id}</td width="8%">
               <td style="cursor: pointer" class="ax-align-left rm-next">└ {$sun.title}</td>
               <td>{$sun.model_title??"空模型"}</td>
               <td>
                   <a ></a>
                   <a href="/rmtop/addColumn?pid={$sun.id}">添加子栏目</a><i class="ricrt"></i>
                   <a href="/rmtop/editColumn?col_id={$sun.id}">编辑</a><i class="ricrt"></i>
                   <a href="/rmtop/delete_column?col_id={$sun.id}">删除</a><i class="ricrt"></i>
               </td>
           </tr>
           {/volist}

           {/volist}

           </tbody>
       </table>


   </div>


</div>

    <div class="ax-pagination">
        {$column_list->render()|raw}
    </div>

</div>



</body>

<script>
    function showIt(id,obj)
    {
        if($(".erlist"+id).css("display")=="none") {
            $(".erlist" + id).show(100);
            $(".jiaj_"+id).html('<img src="/static/rmtop/images/lit-cle.png">')
        }else {
            $(obj).html("");
            $(".erlist" + id).hide(100);
            $(".jiaj_"+id).html('<img src="/static/rmtop/images/lit-more.png">')
        }
    }

</script>

<style>
    .ax-table td .rm-next em img{width: 15px;height: 15px;}
</style>