{include file="/app/rmcore/view/public/hearder" /}

<body  style="background-color:#F4F4F4;margin: 6px; overflow: auto;border-radius: 3px">

<div class="page"  style="box-shadow:none;height: 97%">

    <div class="tab-contain" style="margin-top: 10px;">
        <!-- tab栏 -->
        <ul id="tabs">
            <li class="current"><span title="tab1">基础设置</span></li>
            <li><span  title="tab2">高级设置</span></li>
        </ul>

        <div style="height: 1px;background-color: gainsboro"></div>
        <!-- 对应显示内容 -->
        <form action=""  method="post">

            <div id="content">
                <div id="tab1" class="item show">
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label">栏目名称：</div>
                            <div class="ax-form-input">
                                <input type="text" value="{$info.title}" name="title">
                            </div>
                        </div>
                    </div>
                    <div class="ax-break-lg"></div>
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label">目录名称：</div>
                            <div class="ax-form-input">
                                <input type="text" name="en_title" value="{$info.en_title}" >
                            </div>
                        </div>
                    </div>
                    <div class="ax-break-lg"></div>
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label">内容模型：</div>
                            <div class="ax-form-con">
                                <div class="ax-form-input">
                                    <select name="model">
                                        {volist name="col_models" id="vo"}
                                        <option value="{$vo.model_type}" {if $vo.model_type == $info.model}selected{/if} >{$vo.title}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ax-break-lg"></div>
                    <div class="ax-break-lg"></div>

                    <input name="id" value="{$info.id}" type="hidden">

                </div>
                <div id="tab2" class="item">
                    <div class="ax-break-lg"></div>
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label">栏目图片：</div>
                            <div class="ax-form-con">
                                <div class="ax-form-input">
                                    <input id="file" onchange=handleFile("file") class="ax-input-file" type="file">
                                    <input name="org_img" value="{$info.org_img}" placeholder="上传图片" id="org_img_file" type="text">
                                    <span  class="ax-file-btn">选择图片</span>
                                </div>
                            </div>
                            <!--<a href="##" class="ax-form-head" style="background-image:url(examples/images/head01.jpg),url(core/images/loading.gif);"></a>-->
                        </div>
                    </div>

                    <div class="ax-break-lg"></div>

                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label">列表模板：</div>
                            <div class="ax-form-con">
                                <div class="ax-form-input">
                                    <input name="list_tmp" value="{$info.list_tmp}" placeholder="选择模版,不设置则为默认模版" onmouseout="document.getElementById('file-upload').style.display='none';" type="text">
                                    <span class="ax-file-btn">选择模版</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ax-break-lg"></div>

                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <div class="ax-form-label">详情模板：</div>
                            <div class="ax-form-con">
                                <div class="ax-form-input">
                                    <input name="info_tmp" value="{$info.info_tmp}" placeholder="选择模版,不设置则为默认模版" type="text">
                                    <span onmouseover="document.getElementById('file-upload').style.display='block';" class="ax-file-btn">选择模版</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ax-break-lg"></div>
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <span class="ax-form-label">SEO标题：</span>
                            <div class="ax-form-input">
                                <input name="seo_title" value="{$info.seo_title}"  type="text">
                            </div>
                        </div>
                    </div>
                    <div class="ax-break-lg"></div>
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <span class="ax-form-label">SEO关键字：</span>
                            <div class="ax-form-input">
                                <input type="text"  name="seo_key" value="{$info.seo_key}" >
                            </div>
                        </div>
                    </div>
                    <div class="ax-break-lg"></div>
                    <div class="ax-form-group">
                        <div class="ax-flex-row">
                            <span class="ax-form-label">SEO描述：</span>
                            <div class="ax-form-input">
                                <textarea  name="seo_des" cols="" rows="" placeholder="写评论">{$info.seo_des}</textarea>
                            </div>
                        </div>
                    </div>

                </div>


            <div class="ax-break-lg"></div>
            <div class="ax-break-lg"></div>

            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label"></div>
                    <div class="ax-flex-block">
                        <div class="ax-form-input"><button type="submit" class="ax-btn ax-primary ax-full">保存</button></div>
                    </div>
                </div>
            </div>

            </div>

        </form>
    </div>
</div>
</body>
<style>

    #tabs {  overflow: hidden;  width: 100%;  margin: 0;  padding: 0;  list-style: none;  }
    #tabs li {  float: left;  margin-left: 14px;  height: 40px;  line-height: 40px;cursor: pointer ;width: 100px;  }
    li span {  position: relative;  font-size: 16px;  }
    .current li{  outline: 0;  color: #3398cc;  border-bottom: 1px solid #3398cc;    }
    .current span{  outline: 0;  color: #3398cc;  border-bottom: 1px solid #3398cc;  }
    .current span:before{content: '';position: absolute;bottom: 0;left: 2px;width: 95%;
        height: 2px;background: #3398cc;border-radius: 30px;}
    #content {  background: #fff;  padding: 30px 0 25px;  position: relative;  }
    .item{  display: none;  }
    .show{  display: block;  }

</style>
<script src="/static/rmtop/js/TopUpload.js"></script>
<script type="text/javascript">
    $(function(){
        $('#tabs span').click(function(e) {
            e.preventDefault();
            $('#tabs li').removeClass("current").removeClass("hoverItem");
            $(this).parent().addClass("current");
            $("#content div").removeClass("show");
            $('#' + $(this).attr('title')).addClass('show');
        });

        $('#tabs span').hover(function(){
            if(!$(this).parent().hasClass("current")){
                $(this).parent().addClass("hoverItem");
            }
        },function(){
            $(this).parent().removeClass("hoverItem");
        });
    });
</script>



