{include file="/app/rmcore/view/public/hearder" /}

<body  style="background-color:#F4F4F4;margin: 6px; overflow: auto;">

<div class="page" style="box-shadow:none;">

    <div class="ax-flex-block  ax-radius">
            <div class="ax-alert ax-primary">

                早上好，{$adminInfo['username']}!</br></br>您上次登录的时间：{:date('Y-m-d H:i:s',$adminInfo['logintime']) } ，共登录{$adminInfo['logintimes']}次。
                <a href="##" class="ax-close"></a>
            </div>
    </div>
        <div class="ax-break"></div>

        <div class="ax-flex-block  ax-shadow-border ax-radius" style="padding: 0 15px 15px;">
            <div class="">
                <h5  style="margin: 10px 0 18px;padding-top: 10px;">网站概况</h5>
            </div>

            <div class="ax-row ax-panel-body ">

                {volist name="models" id="vo"}
                {if $vo.count > 0 }
                <div class="ax-col ax-col-4 ax-bg-info ax-align-center ax-radius-sm" >
                    <p>{$vo.title}</p>
                    <h3>{$vo.count}</h3>
                </div>
                <span class="ax-gutter"></span>
                {/if}
                {/volist}

            </div>

        </div>

        <div class="ax-break"></div>

    <div class="ax-flex-block  ax-shadow-border ax-radius" style="padding: 0 15px 15px;">
        <div class="">
            <h5  style="margin: 10px 0 20px;padding-top: 10px;border-bottom: 1px solid #eee;padding-bottom: 8px;">系统信息</h5>
        </div>

        <div class="ax-panel-body ">
            <div class="xisr-list"><h2>商业授权：</h2><p><img src="/static/rmtop/images/shouq-xion.png"> 标准授权版</p></div>
            <div class="xisr-list"><h2>当前版本：</h2><p>{$sys.Version}</p></div>
<!--            <div class="xisr-list"><h2>新版本检测：</h2><p><img src="/static/rmtop/images/shenj-ioxn.png"> 点击在线升级</p></div>-->
            <div class="xisr-list"><h2>网站框架：</h2><p><a href="https://rmsf.top/" target="_blank"  style="color: #198cff;font-weight: bolder">{$sys.Name}</a></p></div>
            <div class="xisr-list"><h2>运行环境：</h2><p>{$system.env}</p></div>
            <div class="xisr-list"><h2>运行目录：</h2><p>{$system.service_path}</p></div>
            <div class="xisr-list"><h2>解译引擎：</h2><p>{$system.service_engine}</p></div>
            <div class="xisr-list"><h2>服务器IP：</h2><p>{$system.service_ip}</p></div>
            <div class="xisr-list"><h2>开发团队：</h2><p><a target="_blank" href="https://support.qq.com/products/371968"  style="color: #198cff;font-weight: bolder">RmTop-CMS项目组</a> </p></div>
            <div class="xisr-list"><h2>运行时间：</h2><p>{$system.service_time}</p></div>


        </div>

    </div>


        <div class="ax-panel   ax-shadow-border ax-radius">

        </div>

    <div class="ax-break"></div>


</div>
</body>

<style>
    .xisr-list{display: flex;align-items: center;position: relative}
    .xisr-list h2{letter-spacing:1px;font-size: 13px;color: #555;width: 150px;padding: 0;margin: 0;font-weight: normal}
    .xisr-list p{position: relative;flex: 1;color: #666;font-size:13px;}
    .xisr-list p img{width: 18px;height: 18px;cursor: pointer;position: relative;margin-top: -3px;}
</style>
