{include file="/app/rmcore/view/public/hearder" /}
<body  style="background-color:#F4F4F4;margin: 6px; overflow: hidden;border-radius: 3px" >
<div class="page"  style="box-shadow:none;height: 100%">

    {include file="/app/rmcore/view/public/bana_nav" /}

    <div class="ax-margin ax-col " >
        <div class="ax-form-group">
            <div class="ax-flex-row">
                <div class="ax-form-con">
                    <div class="ax-form-input">
                        <div class="ax-row ax-input-group">
                            <div class="ax-flex-block">
                                <input id="username" name="username" placeholder="请输入需要检索的关键字" type="text">
                            </div>
                            <a onclick="searchLog()" class="ax-operate ax-btn ax-primary">搜索</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ax-break-md"></div>

        <table class="ax-table">
            <thead>
            <tr style="background-color:#efefef " class="ax-shadow-border ax-radius">
                <th style="width: 15%" class="ax-padd-lf">操作员</th>
                <th style="width: 45%"><div class="ax-align-left">操作内容</div></th>
                <th style="width: 20%">操作IP</th>
                <th style="width: 20%">操作时间</th>

            </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr style="height: 50px">
                <td  class="ax-padd-lf">{$vo.admin_id|get_admin_name}</td>
                <td style="word-break:break-all; word-wrap: break-word;"><div class="ax-align-left" style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;">{$vo.content}</div></td>
                <td>{$vo.client_ip}</td>
                <td>{$vo.create_time}</td>
            </tr>
            {/volist}

            </tbody>
        </table>

        <div class="ax-pagination">
            {$list->render()|raw}
        </div>
    </div>
</div>
<script>
    function searchLog(){
        let username = $("#username").val();
        location.href = "/rmtop/oprateLog?keyword="+username

    }
</script>
</body>
</html>