
{include file="/app/rmcore/view/public/hearder" /}

<body  style="background-color:#F4F4F4;margin: 6px; overflow: hidden;border-radius: 3px" >
<div class="page"  style="box-shadow:none;height: 100%">
    {include file="/app/rmcore/view/public/bana_nav" /}

    <div class="ax-margin ax-col " >
        <div class="ax-row">
            <div class="ax-row-2 list-tlea"><h4>运行日志</h4></div>
            <!--<a href="/rmtop/addAdminer" class="ax-btn ax-sm ax-iconfont ax-icon-plus-t ax-primary lj-a-btn"> 新增管理员</a>-->
        </div>
        <div style="height: 1px;margin-bottom: 10px;background-color: gainsboro"></div>

        <table class="ax-table">
            <thead>
            <tr style="background-color:#efefef " class="ax-shadow-border ax-radius">
                <th>ID</th>
                <th>运行时间</th>
                <th><div class="ax-align-left">执行内容</div></th>
            </tr>
            </thead>
            <tbody>
            {volist name="list" id="vo"}
            <tr style="height: 55px">
                <td><div class="ax-align-center">{$vo.id}</div></td>
                <td><div class="ax-align-center">{$vo.create_time}</div></td>
                <td><div class="ax-align-left" style="max-width: 700px">{$vo.content}</div></td>
            </tr>
            {/volist}
            </tbody>
        </table>

        <div class="ax-pagination">
            {$list->render()|raw}
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#main',
        data: {
            message: 'Hello Vue!'
        },
        methods:{
            hello(){
                alert(111);
            }
        }
    })
</script>
</body>
</html>