
{include file="./common/hearder" /}

<body>

{include file="./common/topmenu" /}


<div class="clearfix"></div>

{include file="./common/Bread" /}

<div class="mainBg">
    <div class="container">
        <div class="contact">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                    <div class="contactWay">
                        <h3>云南入目三分科技有限公司</h3>
                        <p><i class="fa fa-map-marker icon-box icon-xs"></i>地址：{RmTop:TopInfo  TopKey="kefu_adress" /}</p>
<!--                        <p><i class="fa fa-phone icon-box icon-xs"></i>服务电话：{RmTop:TopInfo  TopKey="kefu_mobile" /}</p>-->
                        <p><i class="fa fa-whatsapp icon-box icon-xs"></i>公司电话：{RmTop:TopInfo  TopKey="kefu_mobile" /} (周一至周六 08:30 — 17:30)</p>
                        <p><i class="fa fa-net-exp icon-box icon-xs"></i>网址：{RmTop:TopInfo  TopKey="web_host" /}</p>
<!--                        <p><i class="fa fa-net-qq icon-box icon-xs"></i>QQ：12354625</p>-->
                        <p class="wx-img"><i class="fa fa-net-wx icon-box icon-xs"></i>微信：<img src="{RmTop:TopContentInfo sid = "1" TopType="single" TopKey="kefu_weixin"}"></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">
                    <img src="/template/one_temp/static/images/7277.jpg" alt="" width="100%">
                </div>
            </div>
            <div class="module-form" id="message">
                <div class="contactWay" style="padding-left: 0;margin-bottom: 13px;text-align: center">
                    <h3>在线留言</h3>
                </div>
                <form>
                    <ul>
                        <li><textarea name="reworkmes" cols="40" rows="4"  id="content">留言内容</textarea>
                        </li>
                        <li><input type="text" placeholder="姓名" class="form-name" id="username"></li>
                        <li class="form-tel">
                            <input type="tel" class="formtels" placeholder="请输入手机号" id="tel" >
                            <input type="email" placeholder="请输入邮箱" class="formemail"  id="email">
                        </li>
                    </ul>
                    <div class="contact-submit"><a id="tj">提交</a></div>
                </form>
            </div>
            <div class="module-form age_success" id="message_success"  style="display: none">
                <div class="yet-massage">
                    <img src="/template/free_top/static/images/age_success.png">
                    <p> 留言成功，请耐心等待回复！</p>
                </div>
                <div class="feedRm-g-i">
                    <button type="button"  class="ax-btn-info" id="tj_ok">确  定</button>
                </div>
            </div>

        </div>
    </div>

</div>

{include file="./common/footer" /}

<script>
    $("#tj").click(function () {
        $.ajax({
            type: "post",
            url: "",
            data: {"username":$("#username").val(), "mobile":$("#tel").val(),"demand":$("#content").val(),"email":$("#email").val(),},
            dataType: "json",
            success: function(data){
                if(data.code === 1){
                    $("#message").hide();
                    $("#message_success").show();
                }
            }
        });
    })
    $("#tj_ok").click(function () {
        $("#message").show();
        $("#message_success").hide();
    })
</script>

</body>
</html>
