
{include file="./common/hearder" /}

<body class="bg_index ">

{include file="./common/topmenu" /}

{include file="./common/Bread" /}

<div class="RMw-bage RMw-bage-listPage" style="display: block;padding-top: 40px;background: #fff;padding-bottom: 50px;">
    <div class="wrap overflow clearfix">
        <div class="bt pt10 nes-he">
            {RmTop:TopContentInfo sid = "8"  TopType="single"  TopKey="text"/}
        </div>
    </div>
</div>


{include file="./common/footer" /}


</body>

</html>





