
{include file="./common/hearder" /}

<body class="bg_index ">

{include file="./common/topmenu" /}

{include file="./common/Bread" /}


<div class="buy-main">
  <div class="buy-cont">
    <div class="buyleft">
      <ul>
        {RmTop:MenuList group_id="9"  limit ="9"   name="vo" }
        <li {if $vo.column_id == $CurrentColumnId} class="current"   {/if}  ><a  href="{$vo.url}">{$vo.title}</a></li>
        {/RmTop:MenuList}
      </ul>
    </div>

    <div class="buyright">
      <!--授权价格-->
      <div class="buy-cir" id="forse">
        <table class="table margin-0">
          <thead>
          <tr>
            <th class="buy-gray">
              <div class="table-head-box"><div class="one-line">授权版本</div></div>
            </th>
            <th class="buy-green">
              <div class="table-head-box ">
                <div class="tse-hei"></div><div class="name">免费版</div><div class="desc">个人|试用|非盈利</div>
              </div>
            </th>
            <th class="buy-green">
              <div class="table-head-box ">
                <div class="tse-hei"></div><div class="name">授权版</div><div class="desc">官方授权|系统商用</div>
              </div>
            </th>
            <th class="buy-yellow">
              <div class="table-head-box ">
                <div class="tag icon1"><i></i>最受欢迎</div><div class="name">基础版</div><div class="desc">企业展示功能为主</div>
              </div>
            </th>

            <th class="buy-orange">
              <div class="table-head-box ">
                <div class="tag icon2"><i></i>量身打造</div><div class="name">专业版</div><div class="desc">更丰富功能应用</div>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="business_price">
            <th>授权价格</th>
            <td class="red-600">￥<span class="price-size">{RmTop:TopContentInfo sid = "2" TopType="single" TopKey="free_price"}</span></td>
            <td class="red-600">￥<span class="price-size">{RmTop:TopContentInfo sid = "2" TopType="single" TopKey="auth_price"}</span></td>
            <td class="red-600">￥<span class="price-size">{RmTop:TopContentInfo sid = "2" TopType="single" TopKey="base_price"}</span></td>
            <td class="red-600">￥<span class="price-size">{RmTop:TopContentInfo sid = "2" TopType="single" TopKey="specialty_price"}</span><font style="font-size: 15px; color: #999">（限时优惠）</font></td>
          </tr>
          <tr>
            <th>商业授权</th>
            <td><i class="icosn buy-ban red-600"></i></td>
            <td><i class="icosn yes-check-c green-600"></i></td>
            <td><i class="icosn yes-check-c green-600"></i></td>
            <td><i class="icosn yes-check-c green-600"></i></td>
          </tr>
          <tr>
            <th>授权年限</th>
            <td><i class="icosn buy-ban red-600"></i></td>
            <td>终身</td>
            <td>终身</td>
            <td>终身</td>
          </tr>
          <tr>
            <th>前台版权</th>
            <td>必须保留</td>
            <td>可去除</td>
            <td>可去除</td>
            <td>可去除</td>
          </tr>
          <tr>
            <th>后台版权</th>
            <td>必须保留</td>
            <td>可去除</td>
            <td>可去除</td>
            <td>可去除</td>
          </tr>
          <tr>
            <th>授权域名</th>
            <td><i class="icosn buy-ban red-600"></i></td>
            <td>1个</td>
            <td>1个</td>
            <td>1个</td>
          </tr>
          <tr>
            <th>程序安装</th>
            <td><i class="icosn buy-ban red-600"></i></td>
            <td>自助安装</td>
            <td>协助安装</td>
            <td>协助安装</td>
          </tr>
          <tr>
            <th><span title="程序运行出现系统性错误">程序异常</span></th>
            <td><i class="icosn buy-ban red-600"></i></td>
            <td>社区协助</td>
            <td>远程处理</td>
            <td>远程处理</td>
          </tr>
          <tr>
            <th>专业模板</th>
            <td><i class="icosn buy-ban red-600"></i></td>
            <td>免费默认模板</td>
            <td><a href="/temp" target="_blank">任选一套</a></td>
            <td>根据需求定制</td>
          </tr>
          <tr>
            <th>服务器福利</th>
            <td><i class="icosn buy-ban red-600"></i></td>
            <td style="font-size: medium;"><a href="https://cloud.tencent.com/act/new?fromSource=gwzcw.4325959.4325959.4325959&utm_medium=cps&utm_id=gwzcw.4325959.4325959.4325959&cps_key=04422e0c78bc6909df3ca1b7fc53839d" target="_blank">(领福利)腾讯云</a></td>
            <td  style="font-size: medium;"><a href="https://www.aliyun.com/product/ecs?source=5176.11533457&userCode=507hdqbv" target="_blank">(领福利)阿里云</a></td>
            <td  style="font-size: medium;"><a href="https://rmsf.top/guide/YjBhNWY5MGFlMmVjYTBjNg%3D%3D/RmTop-CMS%20%E6%9C%8D%E5%8A%A1%E5%99%A8%E9%85%8D%E7%BD%AE%E9%80%89%E7%94%A8%E4%BB%A5%E5%8F%8A%E7%B3%BB%E7%BB%9F%E8%BF%90%E8%A1%8C%E7%8E%AF%E5%A2%83.html">系统环境</a></td>
          </tr>
          <tr>
            <th></th>
            <td></td>
            <td><a class="btn btn-primary buys">立即授权</a></td>
            <td><a class="btn btn-primary buys">立即购买</a></td>
            <td><a class="btn btn-primary buys">立即购买</a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--服务价格-->
      <div class="buy-cir" id="service" style="display: none">
        <div class="proadd_text2">
          <dl>
            <dd><h1>软件安装服务</h1>
              描述：提供{RmTop:TopInfo  TopKey="web_title" /}标准安装问题解答以及远程协助安装服务。
              价格：<span>200元/次</span>
            </dd>
            <dd><h1>软件升级服务</h1>
              描述：提供{RmTop:TopInfo  TopKey="web_title" /}软件升级问题解答及远程安装协助，保障整个过程的快速、稳定。
              价格：<span>500元/次</span>
            </dd>
            <dd><h1>服务器环境检测和配置</h1>
              描述：检测服务器环境导致的程序无法正常使用的问题，对服务器基本配置进行调整，保证服务器正常运转不再出现当前问题。
              价格：<span>300元/次</span>
            </dd>
            <dd><h1>数据库修复服务</h1>
              描述：标准程序自身原因造成的数据表损坏。
              价格：<span>800元/100M/次</span>
            </dd>
            <dd><h1>数据库校验、优化服务</h1>
              描述：一次性服务，校验数据结构是否标准，并进行修复、优化。
              价格：<span>600元/100M/次</span>
            </dd>
            <dd><h1>软件所需环境安装</h1>
              描述：提供Linux/FreeBSD/Windows操作系统上安装PHP、MySQL、Zend Optimizer和Web服务器软件（比如apache、iis）服务，支持{RmTop:TopInfo  TopKey="web_title" /} 系统运行所需环境。
              价格：<span>1200元/次</span>
            </dd>
            <dd><h1>网站迁移服务</h1>
              描述：远程协助用户将{RmTop:TopInfo  TopKey="web_title" /}从A服务器上安全迁移到B服务器。（B服务器须具备软件使用所需环境）
              价格：<span>1200元/次</span>
            </dd>
            <dd><h1>数据库安全备份</h1>
              描述：一次性服务，提供安全完备的 MySQL 无人值守自动备份，并且为网站数据进行每日自动增量备份，最大限度地保障数据和文件资料的安全。
              价格：<span>2000元/次</span>
            </dd>
            <dd><h1>网站安全修复</h1>
              描述：网站页面或者程序被恶意篡改，需要对网站程序进行修复，目录安全进行配置（如果需要设定网站或者程序仅供二次开发费用需要另外计算）。
              价格：<span>2000+元/次</span>
            </dd>
            <dd><h1>运行环境优化</h1>
              描述：一次性服务。全面对操作系统以及 PHP、MySQL、Apache/IIS 进行运行状态分析，对系统以及软件进行调整优化，或安装必要的性能提升组件以提高服务器整体运行效率。
              价格：<span>3500元/次</span>
            </dd>
            <dd><h1>服务器代维护服务</h1>
              描述：针对{RmTop:TopInfo  TopKey="web_title" /}系统的特点，提供Web服务器环境配置、系统优化服务，协助客户定期备份数据，解决客户使用服务器操作的基本问题，协助解决服务器系统故障、{RmTop:TopInfo  TopKey="web_title" /}系统灾难修复。
              价格：<span>12000+元/年</span>
            </dd>
            <dd><h1>数据库灾难修复</h1>
              描述：针对{RmTop:TopInfo  TopKey="web_title" /}系列产品的系统数据表损坏而导致的网站灾难，进行最大可能的修复服务，操作过程中对数据资料绝对保密；
              价格：<span>1200元/100M/次</span>
            </dd>
            <dd><h1>数据库迁移服务</h1>
              描述：针对{RmTop:TopInfo  TopKey="web_title" /}软件制定提供稳定、可靠的MySQL数据转移服务方案，并对方案进行实施，操作过程中对数据资料绝对保密。
              价格：<span>600元/100M/次</span>
            </dd>

            <dd><h1>网络及系统安全防护策略</h1>
              描述：一次性服务。为用户站点提供包括Linux,FreeBSD和Windows三种操作系统下的WEB服务、MySQL服务、FTP服务的详细安全防护方案和策略部署，尽可能的保障用户服务器在内网和外网通讯中的安全和稳定。
              价格：<span>8000元/次</span>
            </dd>
            <dd><h1>系统负载优化</h1>
              描述：一次性服务。根据服务器的运行情况整体分析性能瓶颈以及现存问题，据此制定并实施服务器系统环境优化方案，降低服务器整体负载。
              价格：<span>8000元/次</span>
            </dd>


            <dd><h1>服务器镜像分流技术服务</h1>
              描述：{RmTop:TopInfo  TopKey="web_title" /}总结多年客户服务经验，结合大型站点的特点，提出优化解决方案、针对多台服务器进行负载均衡处理，解决因访问量、地域、电信和网通互访慢等问题。
              价格：<span>12000元/次</span>
            </dd>
            <dd><h1><span>附注：</span></h1>
              以上服务全部远程操作，不进行上门处理。部分服务需要用户提供服务器远程管理权限，所有服务仅对授权用户提供。
            </dd>


          </dl>
          <div class="clear">
          </div>
        </div>
      </div>
      <!--模板价格-->
      <div class="buy-cir" id="design"  style="display: none">
        <div class="proadd_text2">
          <dl>
            <dd>
              <h1>模板购买流程</h1>
            </dd>
            <dd>
              <h1>1、在模板库寻找自己喜欢的模板</h1>
              在模板库寻找自己喜欢的模板
            </dd>
            <dd>
              <h1>2、查看详情及设有的功能及服务</h1>
              查看详情及设有的功能及服务
            </dd>
            <dd>
              <h1>3、下单购买</h1>
              下单购买
            </dd>
            <dd>
              <h1>4、安装模板</h1>
              安装模板
            </dd>
            <dd>
              <h1>5、对接数据</h1>
              对接数据
            </dd>
            <dd>
              <h1>6、测试系统及交付</h1>
              测试系统及交付
            </dd>
          </dl>
        </div>
      </div>
      <!--网站定制-->
      <div class="buy-cir" id="develop"  style="display: none">
        <div class="proadd_text2">
          <dl>
            <dd>
              <h1>鉴于每个站点需要不同的个性化界面，{RmTop:TopInfo  TopKey="web_title" /} 提供在本系统的网站定制服务，有定制需求的客户，欢迎联系定制。</h1>
            </dd>
            <dd>
              <h1>定制流程</h1>
            </dd>
            <dd>
              <h1>1、客户提出需求</h1>
              客户通过电子邮件、电话、即时通讯工具等方式向公司提出网站建设的基本需求，包括：网站风格、项目说明、网站基本功能需求、设计基本要求等，并提供详细的网站定制需求书。
            </dd>
            <dd>
              <h1>2、提供方案及报价</h1>
              公司根据提供用户提供的网站定制需求书，报价供客户参考。经双方交流与磋商，确定具体网站建设方案及费用。
            </dd>
            <dd>
              <h1>3、签订网站定制协议，客户支付款项</h1>
              双方签订《网站定制协议》，客户支付款项。客户通过电子邮件、电话、微信、QQ聊天等方式提供网站建设相关的内容资料，包括文字及图片等（文字：文本文档或Word文档；图片：jpg格式）。
            </dd>
            <dd>
              <h1>4、网站的审核与确认</h1>
              根据网站建设方案提供网站设计初稿，包括首页、栏目页等页面网站的设计。设计初稿经客户修订、审核后，确认整体网站风格及色调，转换成客户认可的设计正式稿。每一个设计正式稿均由客户确认无误后，再进行输出设计正式稿的网站输出工作。
            </dd>
            <dd>
              <h1>5、网站测试，客户上网验收</h1>
              所有网站网站文件上传至公司测试服务器，客户上网浏览并验收。验收项目包括：页面效果是否真实还原设定稿、各链接是否准确有效、文字内容是否正确（以客户提供的电子文档为准）、功能模块运行是否正常。验收合格后，客户签发《网站验收合格书》。
            </dd>
            <dd>
              <h1>6、网站建设过程结束</h1>
              客户签发《网站验收合格书》后，将所有网站文件递交客户；或应客户要求，将网站直接上传至客户服务器上。至此，网站建设过程全部结束。客户如需公司为其进行网站建设后的日常更新和维护工作，需另外与公司签订《网站更新维护协议》。
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>

<!--弹窗-->
<div class="buy" style="display: none">
  <div class="buy-bg"></div>
  <div class="buy_content">
    <p class="closebuy">×</p>
    <div class="ps-cp-hhs">
      <p>请扫码添加任一客服微信购买</p>
    </div>
    <div class="payse-main">
      <div class="pay-sd">
        <img src='{RmTop:TopContentInfo sid = "1" TopType="single" TopKey="weixinewm"}'><p>平台客服</p>
      </div>
      <div class="pay-sd">
        <img src='{RmTop:TopContentInfo sid = "1" TopType="single" TopKey="kefu_weixin"}'><p>技术客服</p>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    $('.buys').click(function(){
      $('.buy').stop().show();    //显示
    });
    $('.closebuy').click(function(){
      $('.buy').stop().hide();    //隐藏
    });
  });
</script>


{include file="./common/footer" /}
</body>
</html>
