
{include file="./common/hearder" /}

<body class="bg_index ">

{include file="./common/topmenu" /}

{include file="./common/Bread" /}


<div class="buy-main">
    <div class="buy-cont">
        <div class="buyleft">
            <ul>
                {RmTop:MenuList group_id="9"  limit ="9"   name="vo" }
                <li {if $vo.column_id == $CurrentColumnId} class="current"   {/if} ><a  href="{$vo.url}">{$vo.title}</a></li>
                {/RmTop:MenuList}
            </ul>
        </div>

        <div class="buyright">
            <div class="buy-cir">
                <table class="table margin-0">
                    <thead>
                    <tr>
                        <th class="buy-gray">
                            <div class="table-head-box"><div class="one-line">授权版本</div></div>
                        </th>
                        <th class="buy-green">
                            <div class="table-head-box ">
                                <div class="tse-hei"></div><div class="name">免费版</div><div class="desc">个人|试用|非盈利</div>
                            </div>
                        </th>
                        <th class="buy-yellow">
                            <div class="table-head-box ">
                                <div class="tag icon1"><i></i>最受欢迎</div><div class="name">基础版</div><div class="desc">企业展示功能为主</div>
                            </div>
                        </th>
                        <th class="buy-orange">
                            <div class="table-head-box ">
                                <div class="tag icon2"><i></i>量身打造</div><div class="name">专业版</div><div class="desc">更丰富功能应用</div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="business_price">
                        <th>授权价格</th>
                        <td class="red-600">￥<span class="price-size">{RmTop:TopContentInfo sid = "2" TopType="single" TopKey="free_price"}</span></td>
                        <td class="red-600">￥<span class="price-size">{RmTop:TopContentInfo sid = "2" TopType="single" TopKey="base_price"}</span></td>
                        <td class="red-600">￥<span class="price-size">{RmTop:TopContentInfo sid = "2" TopType="single" TopKey="specialty_price"}</span><font style="font-size: 15px; color: #999">（限时优惠）</font></td>
                    </tr>
                    <tr>
                        <th>商业授权</th>
                        <td><i class="icosn buy-ban red-600"></i></td>
                        <td><i class="icosn yes-check-c green-600"></i></td>
                        <td><i class="icosn yes-check-c green-600"></i></td>
                    </tr>
                    <tr>
                        <th>授权年限</th>
                        <td><i class="icosn buy-ban red-600"></i></td>
                        <td>终身</td>
                        <td>终身</td>
                    </tr>
                    <tr>
                        <th>前台版权</th>
                        <td>必须保留</td>
                        <td>自动去除</td>
                        <td>自动去除</td>
                    </tr>
                    <tr>
                        <th>后台版权</th>
                        <td>必须保留</td>
                        <td>允许去除</td>
                        <td>允许去除</td>
                    </tr>
                    <tr>
                        <th>授权域名</th>
                        <td><i class="icosn buy-ban red-600"></i></td>
                        <td>1个</td>
                        <td>1个</td>
                    </tr>
                    <tr>
                        <th>程序安装</th>
                        <td><i class="icosn buy-ban red-600"></i></td>
                        <td>协助安装</td>
                        <td>协助安装</td>
                    </tr>
                    <tr>
                        <th><span title="程序运行出现系统性错误">程序异常</span></th>
                        <td><i class="icosn buy-ban red-600"></i></td>
                        <td>协助处理</td>
                        <td>协助处理</td>
                    </tr>
                    <tr>
                        <th>短信接口</th>
                        <td><i class="icosn buy-ban red-600"></i></td>
                        <td><i class="icosn yes-check-c green-600"></i></td>
                        <td><i class="icosn yes-check-c green-600"></i></td>
                    </tr>
                    <tr>
                        <th>专业模板</th>
                        <td><i class="icosn buy-ban red-600"></i></td>
                        <td><i class="icosn buy-ban red-600"></i></td>
                        <td><a href="" target="_blank">任选一套</a></td>
                    </tr>
                    <tr>
                        <th>配套插件</th>
                        <td><i class="icosn buy-ban red-600"></i></td>
                        <td><i class="icosn buy-ban red-600"></i></td>
                        <td><a href="" target="_blank">免费使用</a></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td></td>
                        <td><a class="btn btn-primary buys">立即购买</a></td>
                        <td><a class="btn btn-primary buys">立即购买</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--弹窗-->
<div class="buy" style="display: none">
    <div class="buy-bg"></div>
    <div class="buy_content">
        <p class="closebuy">×</p>
        <div class="ps-cp-hhs">
            <p>请扫码添加任一客服微信购买</p>
        </div>
        <div class="payse-main">
            <div class="pay-sd">
                <img src='{RmTop:TopContentInfo sid = "1" TopType="single" TopKey="weixinewm"}'><p>平台客服</p>
            </div>
            <div class="pay-sd">
                <img src='{RmTop:TopContentInfo sid = "1" TopType="single" TopKey="kefu_weixin"}'><p>技术客服</p>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        $('.buys').click(function(){
            $('.buy').stop().show();    //显示
        });
        $('.closebuy').click(function(){
            $('.buy').stop().hide();    //隐藏
        });
    });
</script>

{include file="./common/footer" /}

</body>
</html>
