<div class="buy_content">
    <div class="open-head">
        <div class="newhredup">添加导航</div>
        <div class="closeup  ax-iconfont ax-icon-close-t"></div>
    </div>
    <form action="{$action}"  method="post">
        <div class="item show herf-main">
            <div class="ax-break-lg"></div>
            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label">导航分组：</div>

                    <div class="ax-form-con">
                        <div class="ax-form-input">
                            <select name="group_id">
                                {volist name="navGroup" id='vo'}
                                <option value="{$vo.id}" {if $vo.id == $navInfo.group_id}selected{/if} >{$vo.title}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ax-break-lg"></div>
            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label">选择父级：</div>
                    <div class="ax-form-con">
                        <div class="ax-form-input">
                            <select name="pid">
                                <option value="">不设置父级</option>
                                {volist name="nav" id='vo'}
                                <option value="{$vo.id}" {if $vo.id == $navInfo.pid}selected{/if} >{$vo.title}</option>
                                {/volist}

                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ax-break-lg"></div>
            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label">导航名称：</div>
                    <div class="ax-form-input"><input type="text" name="title" value="{$navInfo.title}" placeholder=""></div>
                </div>
            </div>
            <div class="ax-break-lg"></div>
            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label">排序：</div>
                    <div class="ax-form-input"><input type="text" value="{$navInfo.sort}" name="sort" placeholder=""></div>
                </div>
            </div>
            <div class="ax-break-lg"></div>

            <div class="ax-break-lg"></div>
            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label">跳转方式：</div>
                    <div class="ax-form-con">
                        <div class="ax-form-input">
                            <select name="target" id="skip_type">
                                <option value="1" selected="selected">内部栏目</option>
                                <option value="2">网址链接</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ax-break-lg"></div>

            <!--if内部栏目-->
            <div class="ax-form-group" id="interior" style="margin-bottom: 18px">
                <div class="ax-flex-row">
                    <div class="ax-form-label">内部栏目：</div>
                    <div class="ax-form-con">
                        <div class="ax-form-input">
                            <select name="column_id">
                                {volist name="column" id='vo'}
                                <option value="{$vo.id}" {if $vo.id == $navInfo.column_id}selected{/if} >{$vo.title}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!--if网站地址-->
            <div class="ax-form-group" id="exterior" style="margin-bottom: 18px;display: none">
                <div class="ax-flex-row">
                    <div class="ax-form-label">网站地址：</div>
                    <div class="ax-form-input"><input type="text" name="url" placeholder=""></div>
                </div>
            </div>

            <div class="ax-break-lg"></div>
            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label">新窗口打开：</div>
                    <div class="ax-form-con">
                        <div class="ax-form-input">
                            <select name="target">
                                <option value="0">是</option>
                                <option value="1">否</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ax-break-lg"></div>
            <div class="ax-break-lg"></div>

            <input name="id" value="{$navInfo.id}" type="hidden">
            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label"></div>
                    <div class="ax-flex-block">
                        <div class="ax-form-input"><button type="submit" class="ax-btn ax-primary ax-full">确认提交</button></div>
                    </div>
                </div>
            </div>

        </div>

    </form>
</div>


<script>
    $(".closeup").click(function () {
        $('#overlay').hide();
        $("#ajax").empty();
    })
</script>

<script type="text/javascript">
    $(function(){
        $(document).ready(function(){
            $("#skip_type").change(function(){
                var hilect = $(this).val();
                if(hilect == 1){
                    $("#interior").show();
                }else{
                    $("#interior").hide();
                }
                if(hilect == 2){
                    $("#exterior").show();
                }else{
                    $("#exterior").hide();
                }
            })
        })
    });
</script>