{include file="/app/rmcore/view/public/hearder" /}

<body  style="overflow: auto;border-radius: 3px;">


<div class="tab-contain" style="margin-top: 10px;">
    <!-- tab栏 -->
    <ul id="tabs">
        <li class="current"><span title="tab1">常规选项</span></li>
        <li><span  title="tab2">其他选项</span></li>
        <a onclick="window.history.go(-1);" class="ax-btn ax-sm  ax-primary bi bi-arrow-left-short" style="position: absolute;right: 35px; width: 60px;height: 33px;"> 返回</a>
    </ul>

    <div style="height: 1px;background-color: gainsboro"></div>
    <!-- 对应显示内容 -->

    <div id="contents">
        <form action="{$actions.recruitment_request_add}"  method="post" onsubmit="return Fcheck();">
            <div id="tab1" class="item show">
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label">标题：</div>
                        <div class="ax-form-input"><input type="text" name="title" id="title" placeholder="请输入标题"></div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label">在线应聘：</div>
                        <div class="ax-flex-block">
                            <div class="ax-row">
                                <div class="ax-col ax-col-6"><label class="ax-radio"><input name="online" value="1" checked="" type="radio"><span>开启</span></label></div>
                                <div class="ax-col ax-col-6"><label class="ax-radio"><input name="online" value="0" type="radio"><span>关闭</span></label></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>
                <div class="ax-break-lg"></div>
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label">工作地点：</div>
                        <div class="ax-form-input"><input type="text" name="jod_place" id="jod_place" placeholder="请输入工作地点"></div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label">学历要求：</div>
                        <div class="ax-form-input"><input type="text" name="edu" id="edu" placeholder="请输入学历"></div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label">薪资待遇：</div>
                        <div class="ax-form-input"><input type="text" name="salary" id="salary" placeholder="3000-6000"></div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label">工作性质：</div>
                        <div class="ax-form-input"><input type="text" name="jod_nature" id="jod_nature" placeholder="请输入工作性质"></div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label">工作年限：</div>
                        <div class="ax-form-input"><input type="text" name="jod_years" id="jod_years" placeholder="1"></div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label">招聘人数：</div>
                        <div class="ax-form-input"><input type="text" name="people" id="people" placeholder="1"></div>
                    </div>
                </div>

                <div class="ax-break-lg"></div>
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label">排序：</div>
                        <div class="ax-form-input"><input type="text" name="sort" placeholder="0"></div>
                    </div>
                </div>


                <div class="ax-break-lg"></div>
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label">内容详情：</div>
                        <div style="position: relative;width:700px ">
                            <div id="content" class=""></div>
                        </div>
                    </div>
                </div>

                <div class="ax-break-lg"></div>
                <div class="ax-break-lg"></div>

                <input name="pid" value="" type="hidden">
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label"></div>
                        <div class="ax-flex-block">
                            <div class="ax-form-input"><button type="submit" class="ax-btn ax-primary ax-full">确认提交</button></div>
                        </div>
                    </div>
                </div>
            </div>


            <div id="tab2" class="item">
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <span class="ax-form-label">TGA标签：</span>
                        <div class="ax-form-input"><input type="text" name="tags" placeholder="请输入TGA标签"></div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>

                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <span class="ax-form-label">SEO标题：</span>
                        <div class="ax-form-input"><input type="text"  name="seo_title" placeholder="请输入SEO标题"></div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>

                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <span class="ax-form-label">SEO关键词：</span>
                        <div class="ax-form-input"><input type="text" name="seo_key" placeholder="请输入SEO关键词"></div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>

                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <span class="ax-form-label">SEO描述：</span>
                        <div class="ax-form-input">
                            <textarea name="seo_des" cols="" rows="" placeholder="请简单描述一下"></textarea>
                        </div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>
                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <span class="ax-form-label">浏览量：</span>
                        <div class="ax-form-input"><input type="text" placeholder="0"></div>
                    </div>
                </div>
                <!--                <div class="ax-break-lg"></div>-->
                <!--                <div class="ax-form-group">-->
                <!--                    <div class="ax-flex-row">-->
                <!--                        <div class="ax-form-label">发布时间：</div>-->
                <!--                        <div class="ax-form-con">-->
                <!--                            <div class="ax-form-input"><input name="date" placeholder="选择时间" type="text" id="datepicker02"></div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--<div class="ax-break-lg"></div>-->
                <!--<div class="ax-form-group">-->
                <!--<div class="ax-flex-row">-->
                <!--<div class="ax-form-label">阅读权限：</div>-->
                <!--<div class="ax-form-con">-->
                <!--<div class="ax-form-input">-->
                <!--<select name="model">-->
                <!--<option value="0">开放阅读</option>-->
                <!--<option value="1">待审核稿件</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="ax-break-lg"></div>

                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <div class="ax-form-label">文档模板：</div>
                        <div class="ax-form-con">
                            <div class="ax-form-input">
                                <select name="view_path">
                                    <option value="0">模板1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ax-break-lg"></div>
                <div class="ax-break-lg"></div>

                <div class="ax-form-group">
                    <div class="ax-flex-row">
                        <input name="col_id" value="{$column_id}" type="hidden">
                        <div class="ax-form-label"></div>
                        <div class="ax-flex-block">
                            <div class="ax-form-input"><button type="button" class="ax-btn ax-primary ax-full">确认提交</button></div>
                        </div>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>

</body>
<link href="/static/rmtop/css/jtstyle.css" rel="stylesheet" type="text/css" >

<script type="text/javascript">
    if ($.cookie('rec_edit_tab_current')!= null){
        let num = $.cookie("rec_edit_tab_current");
        $('#tabs li').removeClass("current").removeClass("hoverItem");
        $("#tabs li ").find("span").eq(num).parent().addClass("current");
        $("#contents div").removeClass("show");
        if(num == 1){
            $("#tab2").addClass('show')
        }else{
            $("#tab1").addClass('show')
        }
    }else{
        let num = 0;
        $('#tabs li').removeClass("current").removeClass("hoverItem");
        $("#tabs li ").find("span").eq(num).parent().addClass("current");
        $("#contents div").removeClass("show");
        $("#tab1").addClass('show')
    }

    $('#tabs li span').click(function(e) {
        e.preventDefault();
        $('#tabs li').removeClass("current").removeClass("hoverItem");
        $(this).parent().addClass("current");
        $("#contents div").removeClass("show");
        $('#' + $(this).attr('title')).addClass('show');
        let index = $("#tabs li ").find("span").index(this);
        $.cookie('rec_edit_tab_current',index);
    });

    //发布时间
    //    $('#datepicker02').mobiscroll().date({
    //        theme: 'ax',
    //        lang:'zh',
    //        onBeforeShow:function(event, inst){//显示前的点击事件
    //            $('#'+this.id).addClass('ax-focus')
    //        },
    //        onClose: function (event, inst) {//关闭事件
    //            $('#'+this.id).removeClass('ax-focus');
    //        },
    //        display: 'bubble',
    //        rows:5,
    //    });

</script>

<script charset="utf-8" src="/static/neditor/neditor.config.js"></script>
<script charset="utf-8" src="/static/neditor/neditor.all.js"></script>
<script charset="utf-8" src="/static/neditor/neditor.service.js"></script>
<script>
    UE.getEditor("content",{
        autoHeight: false,
        initialFrameHeight:400,
        initialFrameWidth:window.screen.width/2.2,
    });
</script>

<script type="text/javascript">
    function Fcheck() {
        if($('#title').val() == '') {
            layer.tips('请输入标题', '#title', {tips: [2, '#4ea1f5'], tipsMore: false, time:1500});
            $('#title').focus();
            return false;
        }
        if($('#jod_place').val() == '') {
            layer.tips('请输入工作地点', '#jod_place', {tips: [2, '#4ea1f5'], tipsMore: false, time:1500});
            $('#jod_place').focus();
            return false;
        }
        if($('#edu').val() == '') {
            layer.tips('请输入学历', '#edu', {tips: [2, '#4ea1f5'], tipsMore: false, time:1500});
            $('#edu').focus();
            return false;
        }
        if($('#salary').val() == '') {
            layer.tips('请输入薪资待遇', '#salary', {tips: [2, '#4ea1f5'], tipsMore: false, time:1500});
            $('#salary').focus();
            return false;
        }
        if($('#jod_nature').val() == '') {
            layer.tips('请输入工作性质', '#jod_nature', {tips: [2, '#4ea1f5'], tipsMore: false, time:1500});
            $('#jod_nature').focus();
            return false;
        }
        if($('#jod_years').val() == '') {
            layer.tips('请输入工作年限', '#jod_years', {tips: [2, '#4ea1f5'], tipsMore: false, time:1500});
            $('#jod_years').focus();
            return false;
        }
        return true;
    }
</script>


