
<header class="headerBg fixed-top">
    <div class="container-fluid">
        <div class="logo"><a href="#"><img src="{RmTop:TopInfo  TopKey='web_logo' /}" class="img-responsive" alt="" width="80%"></a></div>
        <div class="menuBtn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="hdRig clearfix">
            <div class="header_phone">
                <div class="icon_phone pt5 fl"><img src="/template/one_temp/static/images/icon_phone.png"></div>
                <div class="phone fl">
                    <h4>咨询热线：</h4><h2>{RmTop:TopInfo  TopKey="kefu_mobile" /}</h2>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="navBox hidden-xs hidden-sm">
            <ul class="navList list-unstyled">
                {RmTop:MenuList group_id="7"  limit ="10"   name="vo" }
                <li class="navLi  {if $vo.column_id == $CurrentColumnId} active {/if} " >
                    <h3><a href="{$vo.url}"><span>{$vo.title}</span></a></h3>
                    {if $vo.childNum != 0}
                     <div class="navSub">
                        <ul class="navSubList list-unstyled">
                            {RmTop:ChildMenuList pid="$vo['id']"  limit ="8"  name="vo_child" }
                            <li class="navSubLi"><h4><a href="{$vo_child.url}">{$vo_child.title}</a></h4></li>
                            {/RmTop:ChildMenuList}
                        </ul>
                     </div>
                    {/if}
                </li>
                {/RmTop:MenuList}
            </ul>
        </div>
        <div class="navBoxm"></div>
    </div>
</header>