<div class="buy_content ax-radius">
    <div class="open-head">
        <div class="newhredup">编辑配置项</div>
        <div class="closeup ax-iconfont ax-icon-close-t"></div>
    </div>
    <form action="/rmtop/editConfig"  method="post" onsubmit="return Fcheck();">
        <div class="item show herf-main">
            <div class="ax-break-lg"></div>
            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label">配置分组：</div>
                    <div class="ax-form-con">
                        <div class="ax-form-input" style="width: 360px !important;">
                            <select name="group_id">
                                {volist name="group" id="vo"}
                                <option value="{$vo.id}"  {if $vo.id == $config.group_id}selected{/if} >{$vo.title}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ax-break-lg"></div>
            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label">配置名称：</div>
                    <div class="ax-form-input"  style="width: 360px !important;">
                        <input type="text" name="zh_name" id="zhname" value="{$config.zh_name}" placeholder="请输入配置名称">
                    </div>
                </div>
            </div>
            <div class="ax-break-lg"></div>
            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label">配置字段：</div>
                    <div class="ax-form-input"  style="width: 360px !important;">
                        <input type="text" name="en_name" id="paramKey" value="{$config.en_name}" placeholder="请输入配置字段">
                    </div>
                </div>
            </div>
            <div class="ax-break-lg"></div>
            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label">排序：</div>
                    <div class="ax-form-input"  style="width: 360px !important;">
                        <input type="text" name="sort" value="{$config.sort}" placeholder="0">
                    </div>
                </div>
            </div>
            <div class="ax-break-lg"></div>
            <div class="ax-break-lg"></div>
            <input name="id"  value="{$config.id}" type="hidden">

            <div class="ax-form-group">
                <div class="ax-flex-row">
                    <div class="ax-form-label"></div>
                    <div class="ax-flex-block" >
                        <div class="ax-form-input" style="width: 280px !important;">
                            <button  class="ax-btn ax-primary ax-full">保存编辑</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </form>
</div>

<script>
    $(".closeup").click(function () {
        $('#overlay').hide();
        $("#ajax").empty();
    })
</script>
