
{include file="./common/hearder" /}

<body class="bg_index ">

{include file="./common/topmenu" /}

{include file="./common/Bread" /}


<div class="n_content clearfix">

  <div class="feedRm-top">
    <div class="feedRm-t_l">
      <div class="feedRm-r-name">联系方式</div>
      <div class="feedRm-r-p">公司地址：{RmTop:TopInfo  TopKey="kefu_adress" /}</div>
      <div class="feedRm-r-p feedRm-r-p2">邮编：650000</div>
      <div class="feedRm-r-p">联系电话：{RmTop:TopInfo  TopKey="kefu_mobile" /}</div>
      <div class="feedRm-r-p feedRm-r-p2">Email：{RmTop:TopInfo  TopKey="kefu_email" /} </div>
      <div class="feedRm-r-p">网址：{RmTop:TopInfo  TopKey="web_host" /}</div>
    </div>

    <div class="feedRm-t_r" id="message">
      <div  class="feedRm-g-name">在线留言</div>
      <form action="" enctype="multipart/form-data" method="post" name="form1" id="form1">
        <div class="feedRm-g-input">
          <input name="username" id="username" type="text" placeholder="姓名">
        </div>
        <div class="feedRm-g-input">
          <input name="mobile" id="tel" type="text" placeholder="联系方式">
        </div>
        <div class="feedRm-g-input">
          <textarea name="demand" id="content" placeholder="内容"></textarea>
        </div>
        <div class="feedRm-g-input2">
          <button type="button"  class="ax-btn-info" id="tj">提  交</button>
        </div>
      </form>
    </div>

    <div class="feedRm-t_r age_success" id="message_success" hidden>
      <div class="yet-massage">
        <img src="/template/free_top/static/images/age_success.png">
        <p> 留言成功，请耐心等待回复！</p>
      </div>
      <div class="feedRm-g-i">
        <button type="button"  class="ax-btn-info" id="tj_ok">确  定</button>
      </div>
    </div>
  </div>

  <div class="feedRm-bottom">
     <img src='{RmTop:TopContentInfo sid = "8"  TopType="single"  TopKey="our_map"/}'>
  </div>
</div>

<script>
  $("#tj").click(function () {
    $.ajax({
      type: "post",
      url: "",
      data: {"username":$("#username").val(), "mobile":$("#tel").val(),"demand":$("#content").val()},
      dataType: "json",
      success: function(data){
        if(data.code === 1){
            $("#message").hide();
            $("#message_success").show();
        }
      }
    });
  })
  $("#tj_ok").click(function () {
    $("#message").show();
    $("#message_success").hide();
  })
</script>

{include file="./common/footer" /}

</body>
</html>
