
{include file="./common/hearder" /}

<body class="bg_index ">

{include file="./common/topmenu" /}

{include file="./common/Bread" /}

<div class="container-fluid m-b-30" style="max-width:70%;margin-top: 50px">

    <div class="bread-crumb" style="border-bottom: 1px solid #eee;margin-bottom: 30px;">
        <span>您的当前位置：</span><a href="{$Category.category_url}">{$Category.category_bread}</a> > <a>{$TopData.title}</a>
    </div>
    <div class="tempinfo-main">
        <div class="templ-tiem">
            {$TopData.content|raw}
        </div>
    </div>

</div>


{include file="./common/footer" /}


</body>
</html>