<!--main-->
{include file="/app/rmcore/view/public/hearder" /}


<div class="page"  style="box-shadow:none;height: 97%">
    <div class="tab-contain" style="margin-top: 5px;">
        <!-- tab栏 -->
        <ul id="tabs">
            <li class="current" ><span data-url="/rmtop/getProductList?col_id={$column_id}" title="tab1">产品列表</span></li>
            <li><span  title="tab2" data-url="/rmtop/getCategoryList?col_id={$column_id}">产品分类</span></li>
            <li><span data-url="/rmtop/getParamsList?col_id={$column_id}" title="tab1">自定义参数</span></li>
        </ul>
        <div style="height: 1px;background-color: gainsboro"></div>
        <div id="content"> </div>
    </div>
</div>


<link href="/static/rmtop/css/jtstyle.css" rel="stylesheet" type="text/css" >
<script type="text/javascript">
    if ($.cookie('product_tab_current')!= null){
        let num = $.cookie("product_tab_current");
        $('#tabs li').removeClass("current").removeClass("hoverItem");
        $("#tabs li ").find("span").eq(num).parent().addClass("current");
        $("#content").load($("#tabs li").find("span").eq(num).attr('data-url'))
    }else{
        $('#content').load($("#tabs li span:first").attr('data-url'));//初始化加载页面
    }

    $('#tabs li span').click(function(e) {
        e.preventDefault();
        $('#tabs li').removeClass("current").removeClass("hoverItem");
        $(this).parent().addClass("current");
        let index = $("#tabs li ").find("span").index(this);
        $.cookie('product_tab_current',index);
        $("#content").load($(this).attr('data-url'))
    });
</script>

</html>